In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sharks = pd.read_csv("sharks.csv")

In [3]:
sharks.head(3)

,Unnamed: 0,case_number,date,year,type,country,area,location,activity,name,age,injury,fatal_(y/n),genero,fishing,surfing
0,0,2018.06.25,Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",N,F,False,False
1,1,2018.06.18,Jun-2018,2018.0,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,N,F,False,False
2,2,2018.06.09,Jun-2018,2018.0,Injured/Fatal,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,48,Injury to left lower leg from surfboard skeg,N,M,False,True