1_ Entender datos (pdf, href formula, href, Unnamed: 22, Unnamed: 23???)
2_ Comprobar columnas o filas duplicadas.
3_ Comprobar columnas o filas NaN.
4_ Eliminar columnas (pdf, href formula, href, Unnamed: 22, Unnamed: 23); lo que no dé valor.
5_ Cambiar nombres columnas.

In [2]:
# Libraries
import numpy as np
import pandas as pd

Cargamos datos de formato CSV

In [3]:
attacks = pd.read_csv("../data/attacks.csv", encoding = "ISO-8859-1")

Visualizamos las primeras filas

In [4]:
attacks.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

 Visualizo las últimas filas hola

In [5]:
attacks.tail(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Visualizo muestra aleatoria

In [6]:
attacks.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
13448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ANALISIS EXPLORATORIO DEL DATAFRAME

In [7]:
attacks.shape

(25723, 24)

In [8]:
attacks.info

<bound method DataFrame.info of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [10]:
attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [12]:
attacks.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [13]:
attacks.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

COMPRUEBA DATOS NUMËRICOS Y CATEGÓRICOS

In [16]:
# DATOS NUMÉRICOS
numericas = attacks._get_numeric_data()
numericas.head(3)

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0

In [17]:
# DATOS CATEGÓRICOS
attacks.select_dtypes(include="object").head()

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,NaN,NaN
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,NaN,NaN

RENOMBRO COLUMNAS

In [68]:
attacks_copia = attacks.copy()

In [69]:
columnas = list(attacks.columns)
columnas

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'location',
 'activity',
 'name',
 'sex_',
 'age',
 'injury',
 'fatal_(y/n)',
 'time',
 'species_',
 'investigator_or_source',
 'pdf',
 'href_formula',
 'href',
 'case_number.1',
 'case_number.2',
 'original_order',
 'unnamed:_22',
 'unnamed:_23']

In [70]:
diccio_nuevas = {columna: columna.replace(" ", "_").lower() for columna in columnas}

In [71]:
diccio_nuevas

{'case_number': 'case_number',
 'date': 'date',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex_': 'sex_',
 'age': 'age',
 'injury': 'injury',
 'fatal_(y/n)': 'fatal_(y/n)',
 'time': 'time',
 'species_': 'species_',
 'investigator_or_source': 'investigator_or_source',
 'pdf': 'pdf',
 'href_formula': 'href_formula',
 'href': 'href',
 'case_number.1': 'case_number.1',
 'case_number.2': 'case_number.2',
 'original_order': 'original_order',
 'unnamed:_22': 'unnamed:_22',
 'unnamed:_23': 'unnamed:_23'}

In [72]:
attacks_renombrado = attacks.rename(columns=diccio_nuevas)
attacks_renombrado.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
5315,1916.04.25.R,Reported 25-Apr-1916,1916.0,Unprovoked,AUSTRALIA,New South Wales,Manley Beach,Swimming,Thomas Harrington,M,...,NaN,"Modesto Evening News, 4/25/1916",1916.04.25.R-Harrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1916.04.25.R,1916.04.25.R,988.0,NaN,NaN

In [73]:
attacks.rename(columns=diccio_nuevas, inplace=True)

In [74]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

EXPLORA DATOS POR COLUMNAS (apuntes)

Columna pdf hay 19421 NaN

In [65]:
pdf = list(attacks["pdf"])

In [66]:
n = 0
for i in pdf:
    if 'pdf' not in i:
        n = n + 1
print(n)

TypeError: argument of type 'float' is not iterable

In [36]:
attacks["href_formula"]

0        http://sharkattackfile.net/spreadsheets/pdf_di...
1        http://sharkattackfile.net/spreadsheets/pdf_di...
2        http://sharkattackfile.net/spreadsheets/pdf_di...
3        http://sharkattackfile.net/spreadsheets/pdf_di...
4        http://sharkattackfile.net/spreadsheets/pdf_di...
                               ...
25718                                                  NaN
25719                                                  NaN
25720                                                  NaN
25721                                                  NaN
25722                                                  NaN
Name: href_formula, Length: 25723, dtype: object

In [82]:
attacks[attacks["unnamed:_23"].notna()]

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

OPERA CON COLUMNAS (SELECCIONA, ELIMINA, Valores únicos ...)

Filtramos los datos por el valor de las columnas

In [33]:
attacks.area.unique()

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia',
       'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
       'Alagoas', nan, 'Victoria', 'KwaZulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando de Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses ', 'South Australia',
       'North Island', 'New York', 'Canary Islands', ' Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castellón', 'Massachusetts',
       'Red Sea Protectorate', 'New Providence District',
       '40 miles off Grand Bahama Island', 'Ascension Island',
       'New Jersey', 'Majorca', 'Washington', 'Tabasco', 'Anjouan',
       'Ibiza Island', 'Marquesas', 'South Devon', 'New Providence ',
       'Sharjah, ', 'Baja California Sur', 'Saint-Leu', 'South Island',
       'Luzon Island', 'Great Exuma', 'Saint-Andre', 'Bimini', 'Bali',
       'Tuamotos', 'Oregon', 'North Province', 'New Providence Island',
       'Alicante Province', 'Hong Kong', 'Kochi Prefecture', 'Tasmania',
       'Abaco Islands', 'Alabama', 'North Carolina', 'Isla Provedencia',
       'Suez', 'Grand Terre', 'Boa Vista Island', 'Vanua Levu',
       'Santa Catarina State', 'South Province', 'Altagracia Province',
       'Grand Cayman', 'Balneário Camboriú', 'Fujairah Emirate',
       'Grand Canary Island', 'Inhambane Province', 'Phuket', 'Alicante',
       'Guanacaste', 'Bora Bora', 'Grand Bahama Island', 'Le Port',
       'Rangiroa', 'Saint-Gilles-les-Bains', 'Sardinia', 'Sinaloa',
       'Central Tuamotu', 'd\x92Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi peninsula', 'Palmyra Atoll', 'Wallis and Futuna',
       'Baie de Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 miles SE of Tarawa Atoll',
       'Southern District', 'Bay of Biscay', 'Quintana Roo',
       'Exuma Islands', 'Saint-Paul', 'Taitung ', 'Kingston Parish',
       'Santa Cruz Island', 'Saint-Gilles', 'Tuamotus', 'Eleuthera',
       'St. Catherine', 'Palawan', 'Mercury Islands', 'Delta', "Vava'u",
       'Inner Hebrides', 'Saint Leu', 'Trois-Bassins', 'British Colombia',
       'Guerrero', 'Saint-Benoit', 'Tabuk Province',
       'Antofagasta Province', "St John's", 'Santa Elena',
       'East New Britain', 'Bois-Blanc ', 'Moray', 'Puerto Rico',
       'Samaná Province', 'Coast Province', 'Central Province',
       'Primorsky Krai',
       'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrés archipelago',
       'Kedah', 'Umm al Qaywayan Province', 'Vitu Levu',
       'South Sinai Peninsula', ' Loyalty Islands', 'Saint Gilles ',
       'Maine', 'Virginia', "Ha'api ", 'Western Province',
       'Jeju Province', 'Binh Dinh Province', 'Antsiranana Province',
       'Sinai Peninsula', 'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul',
       'Dubai', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas province', 'Strait of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', ' Split-Dalmatia Count,', 'North Devon',
       'US Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Loyalty Islands', 'Marovo Lagoon',
       'Territory of Cocos (Keeling) Islands', 'Oslo Fjord', 'Kent',
       'Bird Island', 'Providenciales', 'Bimini Islands',
       'Muhafazat Hadramawt', 'Cook islans', 'Surigao del Norte',
       'Between Somalia & Yemen', 'Ambergris Caye', 'Saint-Pierre',
       'Kentucky', 'Andros Islands', 'Guam', 'Western Area',
       '300 miles from Antigua', '800 miles from land',
       '600 nm west of the Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'ungch'ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago de Cuba Province',
       'Camaguey Province', 'Conservatória District', 'South Carolina ',
       'Kuril Islands in the Pacific', 'Wakayama Prefecture',
       "Nuku'alofa", 'Saint-Benoît',
       'South Island, near Karitane north of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Baatan',
       'Rio de Janeiro', 'Nueva Esparta', 'Southland',
       'North Pacific coast', 'Caroline Islands', 'Cheshire',
       'Louisiade Archipelago',
       'KwaZulu-Natal between Port Edward and Port St Johns',
       'Milne Bay Province', 'Cikobia Island (north of Vanua Levu)',
       'Rayong Province', 'Zamboanga del Sur Province',
       'Rio Grande de Norte',
       'Off the western coast of peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', "L'Etang-Sale",
       'Chatham Islands ', 'South Sinai, Gulf of Aqaba', 'Cat Cay',
       'Missouri', '12 miles off the north coast', 'Saint-Paul ',
       'Chatham Islands, east of New  Zealand', 'Saint-Denis',
       'Vava\x92u', 'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Tafea Province', 'Kagoshima Prefecture',
       'Saint-Joseph', 'Banaadir Region', 'La Libertad', 'Costa Blanca',
       'Walkers Cay', 'On the Kowloon penisula, south of Sai Kung',
       'Ehime Prefecture', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'North Carolina ', 'Mexico / Caribbean Sea',
       'Antarctic Ocean', 'La Saline-les-Bains', 'Sea of Japan',
       'Tavenui', 'Ligurian Sea', "L'Etang-Salé", 'Kowloon Peninsula',
       'Port Shelter', 'Laucala Island', 'Sainte-Marie',
       'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
       'Viscayan Sea', 'Manfredonia ', 'Tokyo Prefecture', 'Saint-Louis',
       'Mindoro', 'Between DR and Puerto Rico',
       'Between Honiara & Isabel Island', 'Florida Straits',
       'Gulf of Lyons', 'Cádiz', 'Sicily', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Kumamoto Prefecture',
       'Biserta', 'Saint-Philippe', 'Chungnam', 'Eronogo Region',
       'Coquimbo', 'Pagasitikos Gulf', "St. Mary's Parish",
       'Romblon Province', 'Lamu Archipelago', 'Los Vilos',
       'Island of Kos', "Ha'api", 'Madeira Islands',
       'Ho Ha Wan Marine Park', 'Southern Thailand', 'Golfo de Venezia',
       'Ralik Archipelago', 'South China Sea 200 miles from Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay ', 'Genoa Province',
       'Ganges-Brahmaputra delta', ' Split-Dalmatia County', 'Florida ',
       'Primorje-Gorski Kotar County ', 'Aulong Island',
       'Western Caroline Islands', 'Upolu Island', 'Antibes',
       'Illeginni Atoll', 'Istria County', 'Between Beira & Maputo',
       'Khuzestan Province', 'Inhambe Province', 'Namonuito Atoll',
       'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 nm southeast of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limón Province',
       'Rombion Province', 'Veracruz', 'Brindisi Province',
       'Kagawa Prefecture', 'Liguria', 'Hamilton', 'Out Islands',
       'Mugla Province', 'Gibraltar', 'New Britain', 'Bay of Maputo',
       'Duke of York Islands', 'Taranto province', 'Northern Taiwan',
       'Admiralty Islands, Manus Province', 'North Sumatra',
       "250 miles southwest of O'ahu, Hawaii", 'West coast', 'East Sepik',
       'Near Bougainville (North Solomons)', 'East of the Gulf of Aqaba',
       'Bougainville (North Solomons)', 'Victoria ', 'Okayama Prefecture',
       'San Blas', 'Connecticut', 'Lau Group', 'Caribbean Coast',
       'Vita Levu', 'San Blas Islands', 'Puntarenas Province',
       'Lomaloma, Lau', 'Between Southampton & Canary Islands',
       'South Coast, East New Britain', ' Lau Province', 'Ysabel Island',
       'Santo Domingo', 'San Blas coast', 'Thessaly',
       'Lomaiviti  Island Group', 'Rodrigues', 'Manus Island',
       'Pinas Bay', 'Grand Turk Island', 'Off coast of West Africa',
       'Sharon', 'Antalya Province', 'Northern District',
       'New Ireland Province, Bismarck Archipelago', 'Cyclades',
       'Viti Levu', 'Off the Coromandel Peninsula, North Island',
       'Madang', 'Guadalcanal Province', '10ºS, 142ºE', 'Kwajalein Atoll',
       'East Flores', 'Guerrrero', 'Western Luzon Island',
       'Shefa Province', '165  miles from Bermuda',
       '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
       'Venice Province', 'Sandaun Province', 'Anatolia',
       'East New Britain Province', 'United Arab Emirates',
       'Wake Island (EnenKio)', '19S, 178?E', 'Pennsylvania',
       '9.35N 79.35W', 'Roncador Bank', 'Western District',
       'Enroute from Suez to Aden (Yemen)',
       '180 miles southeast of Okinawa', 'Eniwetok Atoll',
       'Cap-Vert Peninsula', 'Delagoa Bay', 'In the English Channel ',
       'Cook Strait', 'Unknown, treated at Wick, SCOTLAND',
       'Corregidor Island', 'Paget', '33N, 68W', 'Casamance',
       'Madang (WO)', 'Between Timor & Darwin, Australia',
       'Pacific coast', 'St. Georges ', 'Eastern  Province',
       'Northwest of Viti Levu', 'West New Britain Province',
       'Rigo subdistrict', 'Masbate', '400 miles southeast of Sri Lanka',
       'Lomaiviti Province', 'Kadavu', 'Leyte Island', 'Orissa',
       'Hokkaido Prefecture', 'North Palawan', 'Queaon', 'Istria',
       'PANAMA', 'In the Gulf Stream ', 'Mersin Province', 'Guyamas',
       'Between England & South Africa', 'Mindanao',
       ' Kikori River mouth', 'South Chungcheong Province',
       'Ahirkapi coast', 'Tutuila Island', 'Primorje-Gorski Kotar County',
       'Between Hawaii & Wake Island', 'Taipei Hsien',
       'Ibaraki Prefecture', 'South Pacific Ocean', 'Canal Zone',
       '1,000 miles east of Hawaii', 'Honiara', 'Yucatan Channel',
       'Havana Province', 'Karun River',
       'Abau Subdistrict,Central Province',
       'New Britain, Bismarck Archipelago', 'Estuaire Province',
       'Near Dakar, Cap Vert Peninsula',
       'Near the Andaman & Nicobar Islands', 'Mozambique Channel',
       'Tyrrenian Sea', 'Congreve Channel', 'St. Thomas Bay', 'Madeira',
       'Between Comores & Madagascar', 'Corfu Island',
       '1000 miles west of Hawaii', 'Izo Islands',
       ' Primorje-Gorski Kotar County', 'Open sea', 'Aden',
       'New Ireland, Bismarck Archipelago', '18S / 50E', 'Illinois',
       'Isles del Rosario', 'Wake Island', 'Isle of Man',
       'Nagasaki Prefecture', 'Liguaria', 'Slovenia', 'South shore ',
       'Buenos Aires Province', '330 to 350 miles east of Wake Island',
       'Nova Scotia', 'Gulf of Panama', 'Genoa  Province',
       'Abau Sub District, Central Province', 'Teramo', 'Red Sea State',
       'Curacao', 'Port Louis Province', 'Montserrado', 'Bay of Maputu',
       'Sofala Province', 'Salerno', 'Salerno Province', 'Taranto',
       'Naples Province', ' La Libertad', 'Sago Prefecture', 'Savona',
       'Southern Province', 'Jakarta Harbour', 'Singapore Harbor',
       'Calabria', 'Shatt-el-Arab River', 'Shatt-al-Arab River',
       'Tamaulipas', 'Calvados Archipelago', 'Shat-Al-Arab River',
       'Between Kwajalein Atoll & Johnston Island', 'Attica',
       'Adana Province', 'Bandar Ma\x92shur sea inlet', 'Saipan',
       'Carpathian Sea', 'Kwajalein', 'Dar-es-Salaam ',
       '"Head of the Gulf"', 'Ryukyu', ' North Carolina',
       'In transit between Tinian and Leyte', 'Northern Java', 'Tel Aviv',
       'Colon Province', '300 miles east of Luzon',
       'Bernardino Strait near Gulf of Leyte',
       'Off Samar Island in the Gulf of Leyte',
       'Lake Nicaragua (fresh water)', 'Pacific Ocean',
       'Near the Fiji Islands', '40 miles south of Naples ',
       'Northwest of Papua New Guinea', 'Between Hawaii and U.S.A.',
       'Off South American coast', 'Makora-Ulawa Province',
       '04.05N-13.23W', 'Midway Atoll',
       '300 miles east of St. Thomas (Virgin Islands)',
       'West of Ceylon (Sri  Lanka)', 'East Java', 'Camiguin Island',
       'Cay Sal Bank', '(Southwestern Pacific)', 'Panama City',
       'Off Libya', 'North of Pernambuco, Brazil', 'Off coast of Ecuador',
       'Trelawney Province', 'In Convoy OB 274', 'New Georgia',
       'Panama Bay (Pacific Ocean)', 'Bwagaoia', 'Western Papuan Gulf',
       'Torres Strait ', 'Carabobo', 'Ascension Bay', 'North China',
       'Lower San Juan River', 'Nicoya Peninsula', 'Basrah City',
       'West Bengal', 'Queensland ', 'Argyllshire', 'Arran', 'Argyll',
       'Fishing Grounds', 'Newfoundland', 'Isle of Wight',
       'Makira-Uluwa Province', 'Northern (Oro) Province', 'Herzliyah',
       'Elqui Province', 'Istanbul', 'St Michael Parish',
       'Barlavento Islands', 'Viti Levu Island', 'Bay of Fundy', 'Manila',
       'French Southern Territories', 'Niua ', 'Black River',
       'Phoenix Islands', 'Cienfuegos Province', 'Valencia',
       'Santiago Island', 'Near Puntarenas', 'Porto Seguro',
       'Salinas Bay', 'Golfo di Genova in the Ligurian Sea',
       'Sants-Montjic', 'South of the Equator ', 'Bay of Monaco',
       'Valencia ', 'Vancouver',
       '2 to 3 miles off Taboguilla Island, Pacific Ocean', 'Dorset',
       '150 miles offshore', 'Galica', 'Demerara County', 'Vera Cruz',
       ' Manila Bay', 'Lucy', 'East Yorkshire', 'Westmoreland Parish',
       'Cavite Province, Luzon', 'Cape Haitien', 'Leyte', 'Halifax',
       'Turtle Bogue', '60 miles north of San Domingo in the West Indies',
       'Colon', 'Off Ireland', 'Mediterranean Sea', 'Gran Canaria',
       'Apolima Strait', 'Essequibo', 'Lagos ', 'Trieste', '5aint-Denis',
       'Viti Levu group', 'Balearics', 'Málaga ', 'Chatham Islands',
       'Georges Bank', 'Zambesi River', 'Colón Province',
       '30 nm from Singapore', 'Andalucia', 'Sfax',
       'South Atlantic Ocean', 'Galicia', 'Gulf of Suez', 'Java',
       'Tiburon Peninsula', 'Oaxaca', 'Harare Province',
       'Khánh Hòa Province', 'Maluku Province', 'Suez Canal',
       ' Nusa Tenggara', 'Between Noumea & Sydney',
       'Villa Clara Province', 'Ancona Province', 'Quezon',
       'Rio San Juan', 'Southern Cyprus', 'Syracuse', 'Western Viscayas',
       'Mindoro Occidental', 'Negros ', 'Imperia Province', 'Muala',
       'East coast', 'Ratak ', 'Socotra Islands', 'Off Cape Haitien',
       'Moluccas', 'Bocas del Toro', 'Provence', 'Bay of Campeche',
       'Rangoon', 'Bay of Bengal', 'Bayelsa State', 'South Island?',
       'Norfolk Island', 'Brittany', 'Line Islands', 'Woodlark Islands',
       'Munxar Reef', 'Northern Peloponnese', 'Between Perth & Colombo',
       'Gujarat', 'Lukovo', 'Cortés', 'Gulf of California',
       'Somewhere between Philadelphia and Hiogo, Japan', ' New Jersey',
       "Côte d'Azur  ", 'Maldonado coast', 'Western Banks',
       'Andaman Islands', 'Off the coast of West Africa',
       'Misamis Oriental', 'Strait of Messina', 'Hoogly River',
       'Cyclades archipelago', 'Mount Lebanon',
       'Between Hastings & Fairlight, Sussex', 'Veracruz ',
       'Gilbert Islands', 'Lomaiviti Provine',
       'Off the coast of South America', '22ºN, 88ºE',
       'Matanzas Province (north coast)', 'Alpes Maritime', 'Edinburgh',
       'Eastern Catalona', '300 miles east of Mauritius',
       'Foveaux Strait', 'Sumatra', 'Conakry Region', 'Corfu', 'Malaga',
       'Bonin Islands', 'Fernando Po Island', 'Mangaia Island',
       'New York ', 'Corfu ', 'Between Australia & USA', 'Tongatapu',
       'Norfolk', 'Island of St. Thomas', 'Cumberland', 'Sanma Province',
       "35º39 : 165º8'", 'CUBA', 'Western Area ', 'Paraiba', 'Cape Coast',
       'Rivers State', 'Maharashtra', 'St. Anne', 'St Helena',
       "Côte d'Azur ", 'Skagerrak arm of the North Sea',
       'Las Perlas archipelago', 'Bardestrand', 'Southwest coast',
       'Kerala', 'Nice & Marseilles', 'Magarita or Cubagua Islands',
       'Ionian Sea', 'Piraeus', 'Off Thessaly', 'Bocas del Toro Province',
       'Rocha ', 'Gulf of Tadjoura', 'Cyrenaica', 'Northern Province',
       'Los Roques  Islands', 'Dodecanese Islands', 'Malaita Province',
       'South Korea', 'Milne Bay  Province', 'Island of Volos',
       'Amirante Islands', 'Kadavu Island Group', 'Toamasina Province',
       'Riau Province', 'Bikini Atoll',
       'Between New Ireland & New Britain', 'Ba Ria-Vung Tau  Province',
       'Moala Island'], dtype=object)

BORRAR FILAS Y COLUMNAS. Reset_index y set_index

APPLY!!

Df .loc e .iloc
Seleccionar filas y columnas en Pandas mediante posición con iloc
Seleccionar filas y columnas en Pandas en base a etiquetas con loc

Ordenamos un dataframe
Buscamos valores nulos
Borramos los valores nulos
rellenar los datos que faltan
 Borramos los duplicados

 Agregación de datos
 GroupBy

Decide a HYPOTHESIS (or hypotheses) with which you will clean the data

..............

EXPLORE the DATA and write down what you have found
you can use: df.describe(), df["column"], etc.

DRAW at least 2 GRAPHS that are insightful.

Use at least 5 data cleaning techniques inside a file named clean.ipynb
null values, columns drop, duplicated data, string manipulation, apply fn, categorize, regex, etc.

Show data that validates the conclusions based on your hypoteses in a file named analysis.ipynb

Build a compelling story-telling around your findings. Think of your stakeholders and convince them with your conclusions! (Some slides with few text and pretty plots are normally useful)