In [1]:
# Libraries
import numpy as np
import pandas as pd
import re

In [2]:
import sys
sys.path.append("..")
from src.cleaning import *

# Primera visualización rápida

Cargamos datos de formato CSV

In [3]:
attacks = pd.read_csv("../data/attacks.csv", encoding = "ISO-8859-1")

Visualizo las primeras y últimas filas para echar una ojeada a los datos.

In [4]:
attacks.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [5]:
attacks.tail(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Visualizo también una muestra aleatoria.

In [6]:
attacks.sample(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
12939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Mis HIPOTESIS.

1_ USA es el pais donde más accidentes de tiburón se producen.

2_ La mayor parte de los accidentes son no provocados.

3_ Fishing y Surfing; mayores causas de accidentes.

4_ Mueren más hombres que mujeres.

# Análisis exploratorio del DataFrame

Evaluar forma, info y Nan del Data Frame. Para este caso no merece la pena hacer un describe.

In [7]:
attacks.shape

(25723, 24)

In [8]:
attacks.info

<bound method DataFrame.info of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [9]:
attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Hago comprbación de DATOS NUMËRICOS y CATEGÓRICOS

In [10]:
# DATOS NUMÉRICOS
numericas = attacks._get_numeric_data()
numericas.head(3)

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0

In [11]:
# DATOS CATEGÓRICOS
attacks.select_dtypes(include="object").head(3)

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN

Renombro COLUMNAS. Elimino mayúsculas y espacios.

Nota; más adelante me di cuenta que tendría que renombrar de nuevo la columna "fata(y/n)" para poder trabajar sobre ella. Haré referncia a ello más adelante.

In [12]:
attacks_copia = attacks.copy()

In [13]:
# Saco los 5 primeros elementos.
columnas = list(attacks.columns)
columnas[:5]

['Case Number', 'Date', 'Year', 'Type', 'Country']

In [14]:
diccio_nuevas = {columna: columna.replace(" ", "_").lower() for columna in columnas}

In [15]:
diccio_nuevas

{'Case Number': 'case_number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex_',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Time': 'time',
 'Species ': 'species_',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [16]:
attacks_renombrado = attacks.rename(columns=diccio_nuevas)
attacks_renombrado.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
23235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
attacks.rename(columns=diccio_nuevas, inplace=True)

In [18]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

Compruebo los datos que no son Nan en la columna unnamed:_23 para ver si hay algún dato relevante.

In [19]:

attacks[attacks["unnamed:_23"].notna()]

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

Elimino los paréntesis de la columna fatal para poder ver más adelante las muertes.

In [20]:
columnas_1 = list(attacks.columns)

In [21]:
diccio_nuevas_1 = {columna: columna.replace("(y/n)", "") for columna in columnas_1}

In [22]:
diccio_nuevas_1

{'case_number': 'case_number',
 'date': 'date',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex_': 'sex_',
 'age': 'age',
 'injury': 'injury',
 'fatal_(y/n)': 'fatal_',
 'time': 'time',
 'species_': 'species_',
 'investigator_or_source': 'investigator_or_source',
 'pdf': 'pdf',
 'href_formula': 'href_formula',
 'href': 'href',
 'case_number.1': 'case_number.1',
 'case_number.2': 'case_number.2',
 'original_order': 'original_order',
 'unnamed:_22': 'unnamed:_22',
 'unnamed:_23': 'unnamed:_23'}

In [23]:
attacks_renombrado = attacks.rename(columns=diccio_nuevas_1)
attacks_renombrado.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
324,2015.12.21.a,21-Dec-2015,2015.0,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,Márcio de Castro Palma,M,...,"Tiger shark, 1.5 m","Fox News, 12/22/2015",2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.21.a,2015.12.21.a,5979.0,NaN,NaN

In [24]:
attacks.rename(columns=diccio_nuevas_1, inplace=True)

In [25]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

ELIMINO COLUMNAS y FILAS que no me aportan valor.

1- COLUMNAS

Elimino columnas que no aportan nada por significado.

In [26]:
attacks.drop(["pdf", "href_formula","href","unnamed:_22", "unnamed:_23"],axis=1,inplace=True)

In [27]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,time,species_,investigator_or_source,case_number.1,case_number.2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18,6302.0

Aquí, elimino columnas que no aportan nada a mis hipótesis.

In [28]:
attacks.drop(["time", "species_","investigator_or_source","case_number.1", "case_number.2", "original_order"],axis=1,inplace=True)

In [29]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N

2-FILAS.

Elimino las filas en las que sus valores son todo NaN; no aporta nada. 

Para este paso he cambiado de data frame por si metía la pata. A apartir de aquí trabajo con el data frame "sharks"

In [30]:
sharks = attacks.dropna(how="all", axis=0)

In [31]:
sharks.shape

(8703, 13)

# LIMPIEZA por columnas.
COLUMNA; case_number

Elimino los ".letra" de todos los case_number. Aunque no aporta much valor, como hice ya esta limpieza, lo dejo indicado.

In [32]:
case_number = list(attacks.case_number.unique())

In [33]:
"""def quitar_a(x):
    if ".a" in str(x):
        return x.replace(".a", "")
    else:
        return x"""

'def quitar_a(x):\n    if ".a" in str(x):\n        return x.replace(".a", "")\n    else:\n        return x'

In [34]:
quitar_a

In [35]:
sharks["case_number"] = sharks.case_number.apply(quitar_a)

<ipython-input-35-b9e4096ae751>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_a)

In [36]:
"""def quitar_b(x):
    if ".b" in str(x):
        return x.replace(".b", "")
    else:
        return x"""

'def quitar_b(x):\n    if ".b" in str(x):\n        return x.replace(".b", "")\n    else:\n        return x'

In [37]:
quitar_b

In [38]:
sharks["case_number"] = sharks.case_number.apply(quitar_b)

<ipython-input-38-7a0d2429a33b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_b)

In [39]:
"""def quitar_c(x):
    if ".c" in str(x):
        return x.replace(".c", "")
    else:
        return x"""

'def quitar_c(x):\n    if ".c" in str(x):\n        return x.replace(".c", "")\n    else:\n        return x'

In [40]:
quitar_c

In [41]:
sharks["case_number"] = sharks.case_number.apply(quitar_c)

<ipython-input-41-560dba157aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_c)

In [42]:
"""def quitar_d(x):
    if ".c" in str(x):
        return x.replace(".d", "")
    else:
        return x"""

'def quitar_d(x):\n    if ".c" in str(x):\n        return x.replace(".d", "")\n    else:\n        return x'

In [43]:
quitar_d

In [44]:
sharks["case_number"] = sharks.case_number.apply(quitar_d)

<ipython-input-44-327631ea2d19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_d)

In [45]:
"""def quitar_R(x):
    if ".R" in str(x):
        return x.replace(".R", "")
    else:
        return x"""

'def quitar_R(x):\n    if ".R" in str(x):\n        return x.replace(".R", "")\n    else:\n        return x'

In [46]:
quitar_R

In [47]:
sharks["case_number"] = sharks.case_number.apply(quitar_R)

<ipython-input-47-46223fb203ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_R)

COLUMNA; date

Para la columna "date" me quedo solo con fecha y año.

In [48]:
sharks['newcol'] = sharks['date'].str.extract(r"(\w+-\d+)")

<ipython-input-48-65ad4d2e00fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks['newcol'] = sharks['date'].str.extract(r"(\w+-\d+)")

In [49]:
sharks.sample(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,newcol
3413,1970.00.00,1970s,1970.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Washing clothes on stairs,female,F,25,Left foot severed,N,NaN
2971,1982.07.31,31-Jul-1982,1982.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Amanzimtoti,Boogie boarding,Riaan van Rensburg,M,20,"No injury, swim fin bitten",NaN,Jul-1982

In [50]:
dates = list(sharks.date)
print(dates[0:5])

['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', '08-Jun-2018', '04-Jun-2018']

In [51]:
newcoll= list(sharks.newcol)
print(newcoll[0:5])

['Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018']

In [96]:
sharks.date=newcoll

<ipython-input-96-af56e7fbce42>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  sharks.dates=newcoll

In [100]:
# Compruebo que me ha cambiado las fechas.
print(sharks.date[0:5])

0    Jun-2018
1    Jun-2018
2    Jun-2018
3    Jun-2018
4    Jun-2018
Name: date, dtype: object

In [54]:
sharks.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,newcol
6629,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Como he cambiado la date, puedo eliminar ya newcol
sharks.drop(["newcol"],axis=1, inplace=True)

/home/jesus_chao/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [56]:
sharks.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_
4982,1932.08.10,Aug-1932,1932.0,Provoked,USA,New Jersey,"Offshore, between Mantoloking & Point Pleasant...",Fishing,John Olsen,M,NaN,Hooked shark gashed right leg PROVOKED IN...,N

COLUMNA; year

Elimino el ".0" de los años.

In [57]:
"""def year_(x):
    if ".0" in str(x):
        return str(x).replace(".0", "")
    else:
        return x"""

'def year_(x):\n    if ".0" in str(x):\n        return str(x).replace(".0", "")\n    else:\n        return x'

In [58]:
year_

In [59]:
sharks["year"] = sharks.year.apply(year_)

<ipython-input-59-34703d824513>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["year"] = sharks.year.apply(year_)

In [60]:
print(sharks.year)

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
8698      NaN
8699      NaN
8700      NaN
8701      NaN
25722     NaN
Name: year, Length: 8703, dtype: object

In [61]:
# Este es el listado final de todas mis años.
sharks.year.unique()

array(['2018', '2017', nan, '2016', '2015', '2014', '2013', '2012',
       '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996',
       '1995', '1984', '1994', '1993', '1992', '1991', '1990', '1989',
       '1969', '1988', '1987', '1986', '1985', '1983', '1982', '1981',
       '1980', '1979', '1978', '1977', '1976', '1975', '1974', '1973',
       '1972', '1971', '1970', '1968', '1967', '1966', '1965', '1964',
       '1963', '1962', '1961', '1960', '1959', '1958', '1957', '1956',
       '1955', '1954', '1953', '1952', '1951', '1950', '1949', '1948',
       '1848', '1947', '1946', '1945', '1944', '1943', '1942', '1941',
       '1940', '1939', '1938', '1937', '1936', '1935', '1934', '1933',
       '1932', '1931', '1930', '1929', '1928', '1927', '1926', '1925',
       '1924', '1923', '1922', '1921', '1920', '1919', '1918', '1917',
       '1916', '1915', '1914', '1913', '1912', '1911', '1910', '1909',
       '1908', '1907', '1906', '1905', '1904', '1903', '1902', '1901',
       '1900', '1899', '1898', '1897', '1896', '1895', '1894', '1893',
       '1892', '1891', '1890', '1889', '1888', '1887', '1886', '1885',
       '1884', '1883', '1882', '1881', '1880', '1879', '1878', '1877',
       '1876', '1875', '1874', '1873', '1872', '1871', '1870', '1869',
       '1868', '1867', '1866', '1865', '1864', '1863', '1862', '1861',
       '1860', '1859', '1858', '1857', '1856', '1855', '1853', '1852',
       '1851', '1850', '1849', '1847', '1846', '1845', '1844', '1842',
       '1841', '1840', '1839', '1837', '1836', '1835', '1834', '1832',
       '1831', '1830', '1829', '1828', '1827', '1826', '1825', '1823',
       '1822', '1819', '1818', '1817', '1816', '1815', '1812', '1811',
       '1810', '1808', '1807', '1805', '1804', '1803', '1802', '1801',
       '1800', '1797', '1792', '1791', '1788', '1787', '1786', '1785',
       '1784', '1783', '1780', '1779', '1776', '1771', '1767', '1764',
       '1758', '1753', '1751', '1749', '1755', '1748', '1742', '1738',
       '1733', '1723', '1721', '1703', '1700', '1642', '1638', '1637',
       '1617', '1595', '1580', '1555', '1554', '1543', '500', '77', '5',
       '0'], dtype=object)

COLUMNA type.

Cambio nombre de "Unprovoked" por "Accidental".Además he metido "Boatomg" y "Boating" en una sola columna "Boat"

In [62]:
sharks.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [63]:
"""def type_(x):
    if "Unprovoked" in str(x):
        return x.replace("Unprovoked", "Accidental")
    else:
        return x"""

'def type_(x):\n    if "Unprovoked" in str(x):\n        return x.replace("Unprovoked", "Accidental")\n    else:\n        return x'

In [64]:
type_

In [65]:
sharks["type"] = sharks.type.apply(type_)

<ipython-input-65-e5a48b295325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_)

In [66]:
multi_p = sharks[(sharks.type == "Boatomg")]

In [67]:
multi_p

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_
1152,2009.03.01,Mar-2009,2009,Boatomg,NEW ZEALAND,North Island,Taranaki,Fishing,"boat, occupants: Boyd Rutherford & Hamish Roper",M,NaN,"No injury to occupants, shark bit propeller",N

In [68]:
"""def type_1(x):
    if "Boatomg" in str(x):
        return x.replace("Boatomg", "Boat")
    else:
        return x"""

'def type_1(x):\n    if "Boatomg" in str(x):\n        return x.replace("Boatomg", "Boat")\n    else:\n        return x'

In [69]:
type_1

In [70]:
sharks["type"] = sharks.type.apply(type_1)

<ipython-input-70-240476cb040b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_1)

In [71]:
"""def type_2(x):
    if "Invalid" in str(x):
        return x.replace("Invalid", "Injured/Fatal")
    else:
        return x"""

'def type_2(x):\n    if "Invalid" in str(x):\n        return x.replace("Invalid", "Injured/Fatal")\n    else:\n        return x'

In [72]:
type_2

In [73]:
sharks["type"] = sharks.type.apply(type_2)

<ipython-input-73-0df61136e9dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_2)

In [74]:
"""def type_3(x):
    if "Boating" in str(x):
        return x.replace("Boating", "Boat")
    else:
        return x"""

'def type_3(x):\n    if "Boating" in str(x):\n        return x.replace("Boating", "Boat")\n    else:\n        return x'

In [75]:
type_3

In [76]:
sharks["type"] = sharks.type.apply(type_3)

<ipython-input-76-75c94eba09d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_3)

In [77]:
sharks.type.unique()

array(['Boat', 'Accidental', 'Injured/Fatal', 'Provoked', 'Questionable',
       'Sea Disaster', nan], dtype=object)

COLUMNA; Pais, área y localización

Área y localización no me afecta a mis hipótesis; no los toco aunque se puedan mejorar

He pasado todos los países a mayúsculas y eliminado "?". He metido también "ENGLAND" en "UNITED KINGDOM"

In [78]:
countries = list(sharks.country.unique())

In [79]:
len(countries)

213

In [80]:
print(countries[0:20])

['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA']

Ponemos todos los países en mayúsculas.

In [81]:
"""def upper_c(x):
    return str(x).upper()"""

'def upper_c(x):\n    return str(x).upper()'

In [82]:
upper_c

In [83]:
sharks["country"] = sharks.country.apply(upper_c)

<ipython-input-83-51f75b38b595>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(upper_c)

Reemplazar ENGLAND por UNITED KINGDOM

In [84]:
"""def england_(x):
    if "ENGLAND" in str(x):
        return x.replace("ENGLAND", "UNITED KINGDOM")
    else:
        return x"""

'def england_(x):\n    if "ENGLAND" in str(x):\n        return x.replace("ENGLAND", "UNITED KINGDOM")\n    else:\n        return x'

In [85]:
england_

In [86]:
sharks["country"] = sharks.country.apply(england_)

<ipython-input-86-9a5641fac9da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(england_)

ELIMINO signo de interrogación.

In [87]:
"""def question_(x):
    if "?" in str(x):
        return x.replace("?", "")
    else:
        return x"""

'def question_(x):\n    if "?" in str(x):\n        return x.replace("?", "")\n    else:\n        return x'

In [88]:
question_

In [89]:
sharks["country"] = sharks.country.apply(question_)

<ipython-input-89-1d540e1a7bd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(question_)

In [90]:
# Este es el listado final de todos mis paises.
sharks.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'NAN', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY',
       'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE',
       'FIJI', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE',
       'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO',
       'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA',
       'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE',
       'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA',
       'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', ' PHILIPPINES',
       'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'BETWEEN PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'ASIA',
       'CEYLON (SRI LANKA)'], dtype=object)

COLUMNA; Activity

Aunque mis hipótesis afectan a actividades, para validarlo he optado por otra opción que no sea limpieza. Ver validación.

In [101]:
activities = list(sharks.activity.unique())

In [102]:
activities

['Paddling',
 'Standing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding sharks',
 'Boogie boarding',
 'Scuba diving',
 'Paddle-skiing',
 'Body boarding',
 'Windsurfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 nan,
 'Diving',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Kayaking',
 'Body surfing',
 'Swimming, poaching abalone',
 'Canoeing',
 'SUP',
 'Skimboarding',
 'Touching a shark',
 'Fishing ',
 'Attempting to lasso a shark',
 'Photo shoot',
 'Paddle boarding',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Surf skiing ',
 'Surf fishing',
 'Floating',
 'Cage Diving',
 'Surfng',
 'SUP Foil boarding',
 'Lobstering',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Fishing for squid',
 'Fishing for sharks',
 'Floating in tube',
 'Teasing a shark',
 'Surf-skiing',
 'Diving for beche-de-mer',
 'Feeding stingrays?',
 'Kayak Fishing',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Scallop diving on hookah',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Playing',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Filming',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Playing with an air mattress',
 'Kite boarding',
 'Shark diving',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving for crayfish',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Boogie Boarding',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Dragging stranded shark into deeper water',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Floating ',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don Agustín-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Crawling',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Crabbing',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Sea Disaster',
 'Night diving',
 'Free-diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Murder',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Unknown',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Shipwrecked',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 'Fisherman',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Hookah diving for abalone',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Boat capsized?',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Hookah diving for abalone (submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Shipwreck',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Scuba diving for abalone (at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Sitting',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Fishing for prawns',
 'Sea Disaster Sinking of ferryboat Christina',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Freediving',
 'Air disaster',
 'Attempted to return injured shark to the sea',
 'Spearfishing / freediving',
 'Washing cooking pans',
 'Washing clothes on stairs',
 'Fishing, trying to catch the end of his fishing line',
 'Scuba diving for lobsters',
 'Freediving for abalone (at surface)',
 'Surf-fishing',
 'Netting pilchards',
 'Hard hat diving',
 'Sight-seeing',
 'Feeding mullet to sharks',
 'Wreck of the Storm King',
 'Spearfishing using Scuba',
 'Sinking of the ferryboat Dumaguete ',
 'Playing with a frisbee in the shallows',
 'Leaving the water',
 'Dynamite fishing',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Clamming',
 'Schooner sank during a storm',
 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
 'Wading & pushing dinghy toward  the shallows',
 'Picking up shark by the tail',
 'Swimming after his canoe capsized',
 'Sinking of the M/V Mindoro during a typhoon',
 'Standing on sandbar',
 "Boat capsized between O'ahu & Molokai",
 'Pulling shark from the water',
 'Spearfishing on Scuba',

COLUMNA: sex_

Limpio para quedarme sólo con F, M o None

In [103]:
gender = list(sharks.sex_.unique())

In [104]:
gender

['F', 'M', nan, 'M ', 'lli', 'N', '.']

In [105]:
sharks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N

In [106]:
"""def gender_(x):
    special_characters = 'FM'
    if str(x) in special_characters:
        return x
    else:
        return str(x).replace(str(x), "None")"""

'def gender_(x):\n    special_characters = \'FM\'\n    if str(x) in special_characters:\n        return x\n    else:\n        return str(x).replace(str(x), "None")'

In [107]:
gender_

In [108]:
sharks["genero"] = sharks.sex_.apply(gender_)

<ipython-input-108-0220de8c0124>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["genero"] = sharks.sex_.apply(gender_)

In [109]:
sharks.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_,genero
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,F
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,F
2,2018.06.09,Jun-2018,2018,Injured/Fatal,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,M
3,2018.06.08,Jun-2018,2018,Accidental,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,M
4,2018.06.04,Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,M

In [110]:
gender = list(sharks.genero.unique())

In [111]:
gender

['F', 'M', 'None']

In [112]:
sharks.drop(["sex_"],axis=1,inplace=True)

/home/jesus_chao/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [113]:
sharks.head()

,case_number,date,year,type,country,area,location,activity,name,age,injury,fatal_,genero
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",N,F
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,N,F
2,2018.06.09,Jun-2018,2018,Injured/Fatal,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,48,Injury to left lower leg from surfboard skeg,N,M
3,2018.06.08,Jun-2018,2018,Accidental,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,NaN,Minor injury to lower leg,N,M
4,2018.06.04,Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,M

COLUMNA: fatal_

Limpio para quedarme con N, Y o None

In [114]:
fatal = list(sharks.fatal_.unique())

In [115]:
fatal

['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']

In [116]:
"""def fatal_(x):
    special_characters = 'NYy'
    if str(x) in special_characters:
        return x.upper()
    else:
        return str(x).replace(str(x), "None")"""

'def fatal_(x):\n    special_characters = \'NYy\'\n    if str(x) in special_characters:\n        return x.upper()\n    else:\n        return str(x).replace(str(x), "None")'

In [117]:
fatal_

In [118]:
sharks["fatal"] = sharks.fatal_.apply(fatal_)

<ipython-input-118-988055907673>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["fatal"] = sharks.fatal_.apply(fatal_)

In [119]:
sharks.head(2)

,case_number,date,year,type,country,area,location,activity,name,age,injury,fatal_,genero,fatal
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",N,F,N
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,N,F,N

In [120]:
fatal_ = list(sharks.fatal.unique())

In [121]:
fatal_

['N', 'Y', 'None']

In [122]:
sharks.drop(["fatal_"],axis=1,inplace=True)

/home/jesus_chao/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [123]:
sharks.head(2)

,case_number,date,year,type,country,area,location,activity,name,age,injury,genero,fatal
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",F,N
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,F,N

# Validación HIPOTESIS

1- USA es donde más accidentes de tiburón se producen.

Cuento los valores de la columna para validar

In [124]:
sharks.country.value_counts()

NAN                      2451
USA                      2229
AUSTRALIA                1338
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
                         ...
DIEGO GARCIA                1
ARGENTINA                   1
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
CEYLON (SRI LANKA)          1
Name: country, Length: 206, dtype: int64

2- La mayor parte de los accidentes son no provocados.

Cuento los valores de la columna para validar.

In [125]:
sharks.type.value_counts()

Accidental       4595
Provoked          574
Injured/Fatal     547
Boat              341
Sea Disaster      239
Questionable        2
Name: type, dtype: int64

3- Fishing y Surfing; mayores causas de accidentes.

Creo dos columnas Tue or False para datos que terminan en "ishing" y "urfing". Los cuento y compruebo la hipótesis.

In [126]:
sharks["fishing"] = sharks["activity"].str.contains("ishing")

<ipython-input-126-bfcf38036315>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["fishing"] = sharks["activity"].str.contains("ishing")

In [127]:
sharks["surfing"] = sharks["activity"].str.contains("urfing")

<ipython-input-127-d92449e05581>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["surfing"] = sharks["activity"].str.contains("urfing")

In [128]:
sharks.head(2)

,case_number,date,year,type,country,area,location,activity,name,age,injury,genero,fatal,fishing,surfing
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",F,N,False,False
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,F,N,False,False

In [129]:
sharks.fishing.value_counts()

False    4586
True     1172
Name: fishing, dtype: int64

In [130]:
sharks.surfing.value_counts()

False    4630
True     1128
Name: surfing, dtype: int64

In [131]:
sharks.isnull().sum()

case_number       1
date           2946
year           2403
type           2405
country           0
area           2856
location       2941
activity       2945
name           2611
age            5232
injury         2429
genero            0
fatal             0
fishing        2945
surfing        2945
dtype: int64

2945 nulls

In [132]:
suma_fish_surf = 1128 + 1172

In [133]:
Porcentaje = suma_fish_surf/(4630+1128)

In [134]:
Porcentaje

0.399444251476207

4- Mueren más hombres que mujeres.

Cuento los valores de la columna para validar.

In [135]:
hombres_muertos = sharks[(sharks.genero == "M") & (sharks.fatal == "Y")]

In [136]:
hombres_muertos.genero.value_counts()

M    1173
Name: genero, dtype: int64

In [137]:
mujeres_muertas = sharks[(sharks.genero == "F") & (sharks.fatal == "Y")]

In [138]:
mujeres_muertas.genero.value_counts()

F    107
Name: genero, dtype: int64

# Conclusión

Las HIPOTESIS 1, 2, y 4 son verdaderas la 3 es falsa.

Esta es el aspecto final del csv

In [139]:
sharks.head(3)

,case_number,date,year,type,country,area,location,activity,name,age,injury,genero,fatal,fishing,surfing
0,2018.06.25,Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,"No injury to occupant, outrigger canoe and pad...",F,N,False,False
1,2018.06.18,Jun-2018,2018,Accidental,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,11,Minor injury to left thigh,F,N,False,False
2,2018.06.09,Jun-2018,2018,Injured/Fatal,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,48,Injury to left lower leg from surfboard skeg,M,N,False,True

Exporto CSV limpio.

In [140]:
sharks.to_csv("sharks.csv")