1_ Entender datos (pdf, href formula, href, Unnamed: 22, Unnamed: 23???)
2_ Comprobar columnas o filas duplicadas.
3_ Comprobar columnas o filas NaN.
4_ Eliminar columnas (pdf, href formula, href, Unnamed: 22, Unnamed: 23); lo que no dé valor.
5_ Cambiar nombres columnas.

In [1]:
# Libraries
import numpy as np
import pandas as pd
import re

Cargamos datos de formato CSV

In [2]:
attacks = pd.read_csv("../data/attacks.csv", encoding = "ISO-8859-1")

Visualizamos las primeras filas

In [3]:
attacks.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

 Visualizo las últimas filas hola

In [4]:
attacks.tail(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Visualizo muestra aleatoria

In [5]:
attacks.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
22205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Decide a HYPOTHESIS (or hypotheses) with which you will clean the data

..............

ANALISIS EXPLORATORIO DEL DATAFRAME

In [6]:
attacks.shape

(25723, 24)

In [7]:
attacks.info

<bound method DataFrame.info of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   ...         Species   \
0          Julie Wolfe    F  ...      White shark
1      Adyson McNeely     F  ...              NaN
2          John Denges    M  ...              NaN
3                 male    M  ...        2 m shark
4       Gustavo Ramos     M  ...  Tiger shark, 3m
...                ...  ...  ...              ...
25718              NaN  NaN  ...              NaN
25719              NaN  NaN  ...              NaN
25720              NaN  NaN  ...              NaN
25721              NaN  NaN  ...              NaN
25722              NaN  NaN  ...              NaN

               Investigator or Source                       pdf  \
0                    R. Collier, GSAF      2018.06.25-Wolfe.pdf
1      K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2      K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3                      B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4                           A .Kipper      2018.06.04-Ramos.pdf
...                               ...                       ...
25718                             NaN                       NaN
25719                             NaN                       NaN
25720                             NaN                       NaN
25721                             NaN                       NaN
25722                             NaN                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2 original order Unnamed: 22 Unnamed: 23
0        2018.06.25         6303.0         NaN         NaN
1        2018.06.18         6302.0         NaN         NaN
2        2018.06.09         6301.0         NaN         NaN
3        2018.06.08         6300.0         NaN         NaN
4        2018.06.04         6299.0         NaN         NaN
...             ...            ...         ...         ...
25718           NaN            NaN         NaN         NaN
25719           NaN            NaN         NaN         NaN
25720           NaN            NaN         NaN         NaN
25721           NaN            NaN         NaN         NaN
25722           NaN            NaN         NaN         NaN

[25723 rows x 24 columns]>

In [8]:
attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
attacks.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [10]:
attacks.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

COMPRUEBA DATOS NUMËRICOS Y CATEGÓRICOS

In [11]:
# DATOS NUMÉRICOS
numericas = attacks._get_numeric_data()
numericas.head(3)

     Year  original order
0  2018.0          6303.0
1  2018.0          6302.0
2  2018.0          6301.0

In [12]:
# DATOS CATEGÓRICOS
attacks.select_dtypes(include="object").head()

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
2,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN
3,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,NaN,NaN
4,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,NaN,NaN

RENOMBRO COLUMNAS

In [13]:
attacks_copia = attacks.copy()

In [14]:
columnas = list(attacks.columns)
columnas

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [15]:
diccio_nuevas = {columna: columna.replace(" ", "_").lower() for columna in columnas}

In [16]:
diccio_nuevas

{'Case Number': 'case_number',
 'Date': 'date',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex_',
 'Age': 'age',
 'Injury': 'injury',
 'Fatal (Y/N)': 'fatal_(y/n)',
 'Time': 'time',
 'Species ': 'species_',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [17]:
attacks_renombrado = attacks.rename(columns=diccio_nuevas)
attacks_renombrado.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
22297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
attacks.rename(columns=diccio_nuevas, inplace=True)

In [19]:
attacks.head(2)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [20]:
attacks

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

EXPLORA DATOS POR COLUMNAS (apuntes)

In [21]:
attacks[attacks["unnamed:_23"].notna()]

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

ELIMINO columnas que no me aportan valor.

In [22]:
attacks.drop(["pdf", "href_formula","href","unnamed:_22", "unnamed:_23"],axis=1,inplace=True)

In [23]:
attacks.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,case_number.1,case_number.2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04,6299.0

Elimino filas con todo NaN

In [24]:
sharks = attacks.dropna(how="all", axis=0)

In [25]:
sharks.shape

(8703, 19)

LIMPIEZA columna; case_number

In [26]:
case_number = list(attacks.case_number.unique())

In [27]:
def quitar_a(x):
    if ".a" in str(x):
        return x.replace(".a", "")
    else:
        return x

In [28]:
sharks["case_number"] = sharks.case_number.apply(quitar_a)

<ipython-input-28-b9e4096ae751>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_a)

In [29]:
def quitar_b(x):
    if ".b" in str(x):
        return x.replace(".b", "")
    else:
        return x

In [30]:
sharks["case_number"] = sharks.case_number.apply(quitar_b)

<ipython-input-30-7a0d2429a33b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_b)

In [31]:
def quitar_c(x):
    if ".c" in str(x):
        return x.replace(".c", "")
    else:
        return x

In [32]:
sharks["case_number"] = sharks.case_number.apply(quitar_c)

<ipython-input-32-560dba157aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_c)

In [33]:
def quitar_d(x):
    if ".c" in str(x):
        return x.replace(".d", "")
    else:
        return x

In [34]:
sharks["case_number"] = sharks.case_number.apply(quitar_d)

<ipython-input-34-327631ea2d19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_d)

In [35]:
def quitar_R(x):
    if ".R" in str(x):
        return x.replace(".R", "")
    else:
        return x

In [36]:
sharks["case_number"] = sharks.case_number.apply(quitar_R)

<ipython-input-36-46223fb203ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["case_number"] = sharks.case_number.apply(quitar_R)

LIMPIEZA columna; date

In [37]:
def date(x):
    
    return x.extract(r"(\w+-\d+)")

In [38]:
sharks['newcol'] = sharks['date'].str.extract(r"(\w+-\d+)")

<ipython-input-38-65ad4d2e00fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks['newcol'] = sharks['date'].str.extract(r"(\w+-\d+)")

In [39]:
sharks.sample(3)

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,case_number.1,case_number.2,original_order,newcol
7048,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,2012.07.07,07-Jul-2012,2012.0,Boating,USA,California,"Pleasure Point, Santa Cruz County",Kayaking,M.C.,M,52,"No injury, kayak bitten",N,08h30,14' to 18'shark,R. Collier,2012.07.07.a,2012.07.07.a,5534.0,Jul-2012
2242,1997.07.21,21-Jul-1997,1997.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Breezy Point, Ntlonyana",Surfing,Mark Penches,M,25,FATAL,Y,12h45,4.5 m white shark,"A. Gifford, GSAF, G. Cliff, NSB",1997.07.21,1997.07.21,4061.0,Jul-1997

In [47]:
dates = list(sharks.date)
print(dates[0:5])

['Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018']

In [48]:
newcoll= list(sharks.newcol)
print(newcoll[0:5])

['Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018']

In [49]:
sharks.date=newcoll

In [50]:
print(dates[0:5])

['Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018', 'Jun-2018']

In [51]:
sharks.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,case_number.1,case_number.2,original_order,newcol
8594,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
sharks.drop(["newcol"],axis=1, inplace=True)

/home/jesus_chao/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
sharks.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,case_number.1,case_number.2,original_order
5939,1864.09.18,Sep-1864,1864.0,Provoked,FRANCE,Alpes Maritime,Antibes,Dragging a shark,fisherman,M,NaN,Knee bitten PROVOKED INCIDENT,N,NaN,1.5 m shark,"C. Moore, GSAF",1864.09.18.R,1864.09.18.R,364.0

LIMPIEZA columna; year

In [54]:
def year_(x):
    if ".0" in str(x):
        return str(x).replace(".0", "")
    else:
        return x

In [55]:
sharks["year"] = sharks.year.apply(year_)

<ipython-input-55-34703d824513>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["year"] = sharks.year.apply(year_)

In [56]:
print(sharks.year[0:5])

0    2018
1    2018
2    2018
3    2018
4    2018
Name: year, dtype: object

LIMPÎEZA Columna type.

In [57]:
sharks.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [58]:
def type_(x):
    if "Unprovoked" in str(x):
        return x.replace("Unprovoked", "Accidental")
    else:
        return x

In [59]:
sharks["type"] = sharks.type.apply(type_)

<ipython-input-59-e5a48b295325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_)

In [60]:
multi_p = sharks[(sharks.type == "Boatomg")]

In [61]:
multi_p

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,case_number.1,case_number.2,original_order
1152,2009.03.01,Mar-2009,2009,Boatomg,NEW ZEALAND,North Island,Taranaki,Fishing,"boat, occupants: Boyd Rutherford & Hamish Roper",M,NaN,"No injury to occupants, shark bit propeller",N,NaN,NaN,"Taranaki Daily News, 3/3/2009",2009.03.01.b,2009.03.01.b,5151.0

In [62]:
def type_(x):
    if "Boatomg" in str(x):
        return x.replace("Boatomg", "Boat")
    else:
        return x

In [63]:
sharks["type"] = sharks.type.apply(type_)

<ipython-input-63-e5a48b295325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_)

In [64]:
def type_(x):
    if "Invalid" in str(x):
        return x.replace("Invalid", "Injured/Fatal")
    else:
        return x

In [65]:
sharks["type"] = sharks.type.apply(type_)

<ipython-input-65-e5a48b295325>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["type"] = sharks.type.apply(type_)

In [66]:
sharks.type.unique()

array(['Boating', 'Accidental', 'Injured/Fatal', 'Provoked',
       'Questionable', 'Sea Disaster', nan, 'Boat'], dtype=object)

LIMPIEZA Pais, área y localización

In [67]:
countries = list(sharks.country.unique())

In [68]:
len(countries)

213

In [69]:
print(countries)

['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

Ponemos todos los países en mayúsculas.

In [70]:
def upper_c(x):
    return str(x).upper()

In [71]:
sharks["country"] = sharks.country.apply(upper_c)

<ipython-input-71-51f75b38b595>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(upper_c)

Reemplazar ENGLAND por UNITED KINGDOM

In [72]:
def england_(x):
    if "ENGLAND" in str(x):
        return x.replace("ENGLAND", "UNITED KINGDOM")
    else:
        return x

In [73]:
sharks["country"] = sharks.country.apply(england_)

<ipython-input-73-9a5641fac9da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(england_)

ELIMINO signo interrogación

In [74]:
def question_(x):
    if "?" in str(x):
        return x.replace("?", "")
    else:
        return x

In [75]:
sharks["country"] = sharks.country.apply(question_)

<ipython-input-75-1d540e1a7bd3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks["country"] = sharks.country.apply(question_)

In [76]:
sharks.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'NAN', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'ST HELENA, BRITISH OVERSEAS TERRITORY',
       'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE',
       'FIJI', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE',
       'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO',
       'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA',
       'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE',
       'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA',
       'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN',
       'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'ARGENTINA', 'MARTINIQUE',
       'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', ' PHILIPPINES',
       'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS',
       'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'BETWEEN PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'ASIA',
       'CEYLON (SRI LANKA)'], dtype=object)

In [77]:
areas = list(sharks.area.unique())

In [78]:
len(areas)

826

In [79]:
areas

['California',
 'Georgia',
 'Hawaii',
 'New South Wales',
 'Colima',
 'Pernambuco',
 'Florida',
 'Queensland',
 'South Carolina',
 'Cornwall',
 'Westerm Australia',
 'Eastern Cape Province',
 'Hua Hin',
 'Cocos Island',
 'Western Australia',
 'Alifu Alifu Atoll',
 'Western Cape Province',
 'New Providence',
 'Alagoas',
 nan,
 'Victoria',
 'KwaZulu-Natal',
 'Boi Island, Victoria',
 'Galapagos Islands',
 'Fernando de Noronha',
 'Sepang',
 'Holquin Province',
 'Pamplemousses ',
 'South Australia',
 'North Island',
 'New York',
 'Canary Islands',
 ' Upolu Island',
 'Shizuoka Prefecture',
 'Texas',
 'Castellón',
 'Massachusetts',
 'Red Sea Protectorate',
 'New Providence District',
 '40 miles off Grand Bahama Island',
 'Ascension Island',
 'New Jersey',
 'Majorca',
 'Washington',
 'Tabasco',
 'Anjouan',
 'Ibiza Island',
 'Marquesas',
 'South Devon',
 'New Providence ',
 'Sharjah, ',
 'Baja California Sur',
 'Saint-Leu',
 'South Island',
 'Luzon Island',
 'Great Exuma',
 'Saint-Andre',
 'Bimini',
 'Bali',
 'Tuamotos',
 'Oregon',
 'North Province',
 'New Providence Island',
 'Alicante Province',
 'Hong Kong',
 'Kochi Prefecture',
 'Tasmania',
 'Abaco Islands',
 'Alabama',
 'North Carolina',
 'Isla Provedencia',
 'Suez',
 'Grand Terre',
 'Boa Vista Island',
 'Vanua Levu',
 'Santa Catarina State',
 'South Province',
 'Altagracia Province',
 'Grand Cayman',
 'Balneário Camboriú',
 'Fujairah Emirate',
 'Grand Canary Island',
 'Inhambane Province',
 'Phuket',
 'Alicante',
 'Guanacaste',
 'Bora Bora',
 'Grand Bahama Island',
 'Le Port',
 'Rangiroa',
 'Saint-Gilles-les-Bains',
 'Sardinia',
 'Sinaloa',
 'Central Tuamotu',
 'd\x92Étang-Salé',
 'Granada',
 'Cargados Carajos Shoals (St. Brandon)',
 'Moorea',
 'Catalonia',
 'Maryland',
 'Louisiana',
 'West End',
 'Delaware',
 'Atsumi peninsula',
 'Palmyra Atoll',
 'Wallis and Futuna',
 'Baie de Sainte-Marie',
 'Society Islands',
 'Trinidad',
 'Okinawa Prefecture',
 '740 miles SE of Tarawa Atoll',
 'Southern District',
 'Bay of Biscay',
 'Quintana Roo',
 'Exuma Islands',
 'Saint-Paul',
 'Taitung ',
 'Kingston Parish',
 'Santa Cruz Island',
 'Saint-Gilles',
 'Tuamotus',
 'Eleuthera',
 'St. Catherine',
 'Palawan',
 'Mercury Islands',
 'Delta',
 "Vava'u",
 'Inner Hebrides',
 'Saint Leu',
 'Trois-Bassins',
 'British Colombia',
 'Guerrero',
 'Saint-Benoit',
 'Tabuk Province',
 'Antofagasta Province',
 "St John's",
 'Santa Elena',
 'East New Britain',
 'Bois-Blanc ',
 'Moray',
 'Puerto Rico',
 'Samaná Province',
 'Coast Province',
 'Central Province',
 'Primorsky Krai',
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
 'Praslin',
 'Sucre',
 'Middle Caicos',
 'Caicos Bank',
 'San Andrés archipelago',
 'Kedah',
 'Umm al Qaywayan Province',
 'Vitu Levu',
 'South Sinai Peninsula',
 ' Loyalty Islands',
 'Saint Gilles ',
 'Maine',
 'Virginia',
 "Ha'api ",
 'Western Province',
 'Jeju Province',
 'Binh Dinh Province',
 'Antsiranana Province',
 'Sinai Peninsula',
 'Off Vanua Levu',
 'Merizo',
 'Rio Grande Do Sul',
 'Dubai',
 'Torres Strait',
 'Eastern Province',
 'Eastern Cape  Province',
 'Maputo Province',
 'Bocas',
 'Fife',
 'Devon',
 'Makira-Ulawa Province',
 'Mombasa',
 'Catalunya',
 'St. Johns Reef',
 'Off Green Island',
 'North Region',
 'Batangas province',
 'Strait of Malacca',
 'Guantanamo Province',
 'Maranhão',
 'Red Sea',
 'Batanes Provine',
 'Luzon',
 'Northern Territory',
 ' Split-Dalmatia Count,',
 'North Devon',
 'US Virgin Islands',
 'San Carlos',
 'Cabo San Lucas',
 'Sussex',
 'Bahia',
 'Easter Ross',
 'Guerro',
 'Yasawa Islands',
 'Northern Bahamas',
 'Tokyo Bay',
 'Baja California',
 'Green Bay',
 'Loyalty Islands',
 'Marovo Lagoon',
 'Territory of Cocos (Keeling) Islands',
 'Oslo Fjord',
 'Kent',
 'Bird Island',
 'Providenciales',
 'Bimini Islands',
 'Muhafazat Hadramawt',
 'Cook islans',
 'Surigao del Norte',
 'Between Somalia & Yemen',
 'Ambergris Caye',
 'Saint-Pierre',
 'Kentucky',
 'Andros Islands',
 'Guam',
 'Western Area',
 '300 miles from Antigua',
 '800 miles from land',
 '600 nm west of the Canary Islands',
 'Simpson Bay',
 'East Wall',
 'Inner Islands',
 'Shanghai',
 'Malampa Province',
 "South Ch'ungch'ong Province",
 'Bay Islands',
 'New Mexico',
 'Santa Isabel Province',
 'Santiago de Cuba Province',
 'Camaguey Province',
 'Conservatória District',
 'South Carolina ',
 'Kuril Islands in the Pacific',
 'Wakayama Prefecture',
 "Nuku'alofa",
 'Saint-Benoît',
 'South Island, near Karitane north of Dunedin',
 'Rocha',
 'Northlands',
 'Anzoategui',
 'Cook Islands',
 'Tamil Nadu',
 'Pearl Islands',
 'Taveuni',
 'Johnston Atoll',
 'Baatan',
 'Rio de Janeiro',
 'Nueva Esparta',
 'Southland',
 'North Pacific coast',
 'Caroline Islands',
 'Cheshire',
 'Louisiade Archipelago',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Milne Bay Province',
 'Cikobia Island (north of Vanua Levu)',
 'Rayong Province',
 'Zamboanga del Sur Province',
 'Rio Grande de Norte',
 'Off the western coast of peninsular Malaysia',
 'New Brunswick',
 'Miyako Island',
 'Alaska',
 'Minerva Reef',
 'Madang Province',
 'Worcestershire',
 'Phang nga Province',
 'Alinglaplap Atoll',
 'Adriatic Sea',
 'Ralik Chain',
 'Grand Baie',
 "L' Etang Salé-les-Bains",
 'Southern Japan',
 'Cap Vert Peninsula',
 'Marches region',
 'Berry Islands',
 'Transvaal',
 'Gaza',
 "Grand'Anse",
 'Beaufonds',
 'Miyako',
 "L'Etang-Sale",
 'Chatham Islands ',
 'South Sinai, Gulf of Aqaba',
 'Cat Cay',
 'Missouri',
 '12 miles off the north coast',
 'Saint-Paul ',
 'Chatham Islands, east of New  Zealand',
 'Saint-Denis',
 'Vava\x92u',
 'Mississippi',
 'Clearwater Bay',
 'New Territories',
 'Aichi Prefecture',
 'Tafea Province',
 'Kagoshima Prefecture',
 'Saint-Joseph',
 'Banaadir Region',
 'La Libertad',
 'Costa Blanca',
 'Walkers Cay',
 'On the Kowloon penisula, south of Sai Kung',
 'Ehime Prefecture',
 'Tongapatu Group',
 'West Africa',
 'Wakaya Island',
 'North Carolina ',
 'Mexico / Caribbean Sea',
 'Antarctic Ocean',
 'La Saline-les-Bains',
 'Sea of Japan',
 'Tavenui',
 'Ligurian Sea',
 "L'Etang-Salé",
 'Kowloon Peninsula',
 'Port Shelter',
 'Laucala Island',
 'Sainte-Marie',
 'Great Exuma Island',
 'Sainte-Suzanne',
 'Tuscany',
 'Tyrrhenian Sea',
 'New Ireland',
 'Valpariso Province',
 'Viscayan Sea',
 'Manfredonia ',
 'Tokyo Prefecture',
 'Saint-Louis',
 'Mindoro',
 'Between DR and Puerto Rico',
 'Between Honiara & Isabel Island',
 'Florida Straits',
 'Gulf of Lyons',
 'Cádiz',
 'Sicily',
 'Andikira Fokithes',
 'Central Philippines',
 'Rhode Island',
 'Northwest Italy',
 'English Channel',
 'North & South Carolina',
 'Kumamoto Prefecture',
 'Biserta',
 'Saint-Philippe',
 'Chungnam',
 'Eronogo Region',
 'Coquimbo',
 'Pagasitikos Gulf',
 "St. Mary's Parish",
 'Romblon Province',
 'Lamu Archipelago',
 'Los Vilos',
 'Island of Kos',
 "Ha'api",
 'Madeira Islands',
 'Ho Ha Wan Marine Park',
 'Southern Thailand',
 'Golfo de Venezia',
 'Ralik Archipelago',
 'South China Sea 200 miles from Hong Kong',
 'Reggio Calabria Province',
 'Mirs Bay ',
 'Genoa Province',
 'Ganges-Brahmaputra delta',
 ' Split-Dalmatia County',
 'Florida ',
 'Primorje-Gorski Kotar County ',
 'Aulong Island',
 'Western Caroline Islands',
 'Upolu Island',
 'Antibes',
 'Illeginni Atoll',
 'Istria County',
 'Between Beira & Maputo',
 'Khuzestan Province',
 'Inhambe Province',
 'Namonuito Atoll',
 'Eastern Caroline Islands',
 'Western Caroline Islands (North Pacific Ocean)',
 'Caribbean Sea',
 'St. Andrew Parish',
 '200 nm southeast of Manila',
 'Limpopo River',
 'New Ireland Province',
 'Zadar County',
 'Basrah',
 'Clarendon',
 'Moro Gulf',
 'Johor',
 'Magdalena Department',
 'Mafia Island',
 'Gulf Province',
 'Morobe Province',
 'Limón Province',
 'Rombion Province',
 'Veracruz',
 'Brindisi Province',
 'Kagawa Prefecture',
 'Liguria',
 'Hamilton',
 'Out Islands',
 'Mugla Province',
 'Gibraltar',
 'New Britain',
 'Bay of Maputo',
 'Duke of York Islands',
 'Taranto province',
 'Northern Taiwan',
 'Admiralty Islands, Manus Province',
 'North Sumatra',
 "250 miles southwest of O'ahu, Hawaii",
 'West coast',
 'East Sepik',
 'Near Bougainville (North Solomons)',
 'East of the Gulf of Aqaba',
 'Bougainville (North Solomons)',
 'Victoria ',
 'Okayama Prefecture',
 'San Blas',
 'Connecticut',
 'Lau Group',
 'Caribbean Coast',
 'Vita Levu',
 'San Blas Islands',
 'Puntarenas Province',
 'Lomaloma, Lau',
 'Between Southampton & Canary Islands',
 'South Coast, East New Britain',
 ' Lau Province',
 'Ysabel Island',
 'Santo Domingo',
 'San Blas coast',
 'Thessaly',
 'Lomaiviti  Island Group',
 'Rodrigues',
 'Manus Island',
 'Pinas Bay',
 'Grand Turk Island',
 'Off coast of West Africa',
 'Sharon',
 'Antalya Province',
 'Northern District',
 'New Ireland Province, Bismarck Archipelago',
 'Cyclades',
 'Viti Levu',
 'Off the Coromandel Peninsula, North Island',
 'Madang',
 'Guadalcanal Province',
 '10ºS, 142ºE',
 'Kwajalein Atoll',
 'East Flores',
 'Guerrrero',
 'Western Luzon Island',
 'Shefa Province',
 '165  miles from Bermuda',
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
 'Venice Province',
 'Sandaun Province',
 'Anatolia',
 'East New Britain Province',
 'United Arab Emirates',
 'Wake Island (EnenKio)',
 '19S, 178?E',
 'Pennsylvania',
 '9.35N 79.35W',
 'Roncador Bank',
 'Western District',
 'Enroute from Suez to Aden (Yemen)',
 '180 miles southeast of Okinawa',
 'Eniwetok Atoll',
 'Cap-Vert Peninsula',
 'Delagoa Bay',
 'In the English Channel ',
 'Cook Strait',
 'Unknown, treated at Wick, SCOTLAND',
 'Corregidor Island',
 'Paget',
 '33N, 68W',
 'Casamance',
 'Madang (WO)',
 'Between Timor & Darwin, Australia',
 'Pacific coast',
 'St. Georges ',
 'Eastern  Province',
 'Northwest of Viti Levu',
 'West New Britain Province',
 'Rigo subdistrict',
 'Masbate',
 '400 miles southeast of Sri Lanka',
 'Lomaiviti Province',
 'Kadavu',
 'Leyte Island',
 'Orissa',
 'Hokkaido Prefecture',
 'North Palawan',
 'Queaon',
 'Istria',
 'PANAMA',
 'In the Gulf Stream ',
 'Mersin Province',
 'Guyamas',
 'Between England & South Africa',
 'Mindanao',
 ' Kikori River mouth',
 'South Chungcheong Province',
 'Ahirkapi coast',
 'Tutuila Island',
 'Primorje-Gorski Kotar County',
 'Between Hawaii & Wake Island',
 'Taipei Hsien',
 'Ibaraki Prefecture',
 'South Pacific Ocean',
 'Canal Zone',
 '1,000 miles east of Hawaii',
 'Honiara',
 'Yucatan Channel',
 'Havana Province',
 'Karun River',
 'Abau Subdistrict,Central Province',
 'New Britain, Bismarck Archipelago',
 'Estuaire Province',
 'Near Dakar, Cap Vert Peninsula',
 'Near the Andaman & Nicobar Islands',
 'Mozambique Channel',
 'Tyrrenian Sea',
 'Congreve Channel',
 'St. Thomas Bay',
 'Madeira',
 'Between Comores & Madagascar',
 'Corfu Island',
 '1000 miles west of Hawaii',
 'Izo Islands',
 ' Primorje-Gorski Kotar County',
 'Open sea',
 'Aden',
 'New Ireland, Bismarck Archipelago',
 '18S / 50E',
 'Illinois',
 'Isles del Rosario',
 'Wake Island',
 'Isle of Man',
 'Nagasaki Prefecture',
 'Liguaria',
 'Slovenia',
 'South shore ',
 'Buenos Aires Province',
 '330 to 350 miles east of Wake Island',
 'Nova Scotia',
 'Gulf of Panama',
 'Genoa  Province',
 'Abau Sub District, Central Province',
 'Teramo',
 'Red Sea State',
 'Curacao',
 'Port Louis Province',
 'Montserrado',
 'Bay of Maputu',
 'Sofala Province',
 'Salerno',
 'Salerno Province',
 'Taranto',
 'Naples Province',
 ' La Libertad',
 'Sago Prefecture',
 'Savona',
 'Southern Province',
 'Jakarta Harbour',
 'Singapore Harbor',
 'Calabria',
 'Shatt-el-Arab River',
 'Shatt-al-Arab River',
 'Tamaulipas',
 'Calvados Archipelago',
 'Shat-Al-Arab River',
 'Between Kwajalein Atoll & Johnston Island',
 'Attica',
 'Adana Province',
 'Bandar Ma\x92shur sea inlet',
 'Saipan',
 'Carpathian Sea',
 'Kwajalein',
 'Dar-es-Salaam ',
 '"Head of the Gulf"',
 'Ryukyu',
 ' North Carolina',
 'In transit between Tinian and Leyte',
 'Northern Java',
 'Tel Aviv',
 'Colon Province',
 '300 miles east of Luzon',
 'Bernardino Strait near Gulf of Leyte',
 'Off Samar Island in the Gulf of Leyte',
 'Lake Nicaragua (fresh water)',
 'Pacific Ocean',
 'Near the Fiji Islands',
 '40 miles south of Naples ',
 'Northwest of Papua New Guinea',
 'Between Hawaii and U.S.A.',
 'Off South American coast',
 'Makora-Ulawa Province',
 '04.05N-13.23W',
 'Midway Atoll',
 '300 miles east of St. Thomas (Virgin Islands)',
 'West of Ceylon (Sri  Lanka)',
 'East Java',
 'Camiguin Island',
 'Cay Sal Bank',
 '(Southwestern Pacific)',
 'Panama City',
 'Off Libya',
 'North of Pernambuco, Brazil',
 'Off coast of Ecuador',
 'Trelawney Province',
 'In Convoy OB 274',
 'New Georgia',
 'Panama Bay (Pacific Ocean)',
 'Bwagaoia',
 'Western Papuan Gulf',
 'Torres Strait ',
 'Carabobo',
 'Ascension Bay',
 'North China',
 'Lower San Juan River',
 'Nicoya Peninsula',
 'Basrah City',
 'West Bengal',
 'Queensland ',
 'Argyllshire',
 'Arran',
 'Argyll',
 'Fishing Grounds',
 'Newfoundland',
 'Isle of Wight',
 'Makira-Uluwa Province',
 'Northern (Oro) Province',
 'Herzliyah',
 'Elqui Province',
 'Istanbul',
 'St Michael Parish',
 'Barlavento Islands',
 'Viti Levu Island',
 'Bay of Fundy',
 'Manila',
 'French Southern Territories',
 'Niua ',
 'Black River',
 'Phoenix Islands',
 'Cienfuegos Province',
 'Valencia',
 'Santiago Island',
 'Near Puntarenas',
 'Porto Seguro',
 'Salinas Bay',
 'Golfo di Genova in the Ligurian Sea',
 'Sants-Montjic',
 'South of the Equator ',
 'Bay of Monaco',
 'Valencia ',
 'Vancouver',
 '2 to 3 miles off Taboguilla Island, Pacific Ocean',
 'Dorset',
 '150 miles offshore',
 'Galica',
 'Demerara County',
 'Vera Cruz',
 ' Manila Bay',
 'Lucy',
 'East Yorkshire',
 'Westmoreland Parish',
 'Cavite Province, Luzon',
 'Cape Haitien',
 'Leyte',
 'Halifax',
 'Turtle Bogue',
 '60 miles north of San Domingo in the West Indies',
 'Colon',
 'Off Ireland',
 'Mediterranean Sea',
 'Gran Canaria',
 'Apolima Strait',
 'Essequibo',
 'Lagos ',
 'Trieste',
 '5aint-Denis',
 'Viti Levu group',
 'Balearics',
 'Málaga ',
 'Chatham Islands',
 'Georges Bank',
 'Zambesi River',
 'Colón Province',
 '30 nm from Singapore',
 'Andalucia',
 'Sfax',
 'South Atlantic Ocean',
 'Galicia',
 'Gulf of Suez',
 'Java',
 'Tiburon Peninsula',
 'Oaxaca',
 'Harare Province',
 'Khánh Hòa Province',
 'Maluku Province',
 'Suez Canal',
 ' Nusa Tenggara',
 'Between Noumea & Sydney',
 'Villa Clara Province',
 'Ancona Province',
 'Quezon',
 'Rio San Juan',
 'Southern Cyprus',
 'Syracuse',
 'Western Viscayas',
 'Mindoro Occidental',
 'Negros ',
 'Imperia Province',
 'Muala',
 'East coast',
 'Ratak ',
 'Socotra Islands',
 'Off Cape Haitien',
 'Moluccas',
 'Bocas del Toro',
 'Provence',
 'Bay of Campeche',
 'Rangoon',
 'Bay of Bengal',
 'Bayelsa State',
 'South Island?',
 'Norfolk Island',
 'Brittany',
 'Line Islands',
 'Woodlark Islands',
 'Munxar Reef',
 'Northern Peloponnese',
 'Between Perth & Colombo',
 'Gujarat',
 'Lukovo',
 'Cortés',
 'Gulf of California',
 'Somewhere between Philadelphia and Hiogo, Japan',
 ' New Jersey',
 "Côte d'Azur  ",
 'Maldonado coast',
 'Western Banks',
 'Andaman Islands',
 'Off the coast of West Africa',
 'Misamis Oriental',
 'Strait of Messina',
 'Hoogly River',
 'Cyclades archipelago',
 'Mount Lebanon',
 'Between Hastings & Fairlight, Sussex',
 'Veracruz ',
 'Gilbert Islands',
 'Lomaiviti Provine',
 'Off the coast of South America',
 '22ºN, 88ºE',
 'Matanzas Province (north coast)',
 'Alpes Maritime',
 'Edinburgh',
 'Eastern Catalona',
 '300 miles east of Mauritius',
 'Foveaux Strait',
 'Sumatra',
 'Conakry Region',
 'Corfu',
 'Malaga',
 'Bonin Islands',
 'Fernando Po Island',
 'Mangaia Island',
 'New York ',
 'Corfu ',
 'Between Australia & USA',
 'Tongatapu',
 'Norfolk',
 'Island of St. Thomas',
 'Cumberland',
 'Sanma Province',
 "35º39 : 165º8'",
 'CUBA',
 'Western Area ',
 'Paraiba',
 'Cape Coast',
 'Rivers State',
 'Maharashtra',
 'St. Anne',
 'St Helena',
 "Côte d'Azur ",
 'Skagerrak arm of the North Sea',
 'Las Perlas archipelago',
 'Bardestrand',
 'Southwest coast',
 'Kerala',
 'Nice & Marseilles',
 'Magarita or Cubagua Islands',
 'Ionian Sea',
 'Piraeus',
 'Off Thessaly',
 'Bocas del Toro Province',
 'Rocha ',
 'Gulf of Tadjoura',
 'Cyrenaica',
 'Northern Province',
 'Los Roques  Islands',
 'Dodecanese Islands',
 'Malaita Province',
 'South Korea',
 'Milne Bay  Province',
 'Island of Volos',
 'Amirante Islands',
 'Kadavu Island Group',
 'Toamasina Province',
 'Riau Province',
 'Bikini Atoll',
 'Between New Ireland & New Britain',
 'Ba Ria-Vung Tau  Province',
 'Moala Island']

In [80]:
locations = list(sharks.location.unique())

In [81]:
len(locations)

4109

In [82]:
locations

['Oceanside, San Diego County',
 'St. Simon Island, Glynn County',
 'Habush, Oahu',
 'Arrawarra Headland',
 'La Ticla',
 'Flat Rock, Ballina',
 'Piedade Beach, Recife',
 'Lighhouse Point Park, Ponce Inlet, Volusia County',
 'Cocoa Beach, Brevard  County',
 'Daytona Beach, Volusia County',
 'Cairns Aquarium',
 'Isle of Palms,  Charleston County',
 'Hilton Head Island, Beaufort County',
 "Off Land's End",
 'Dugong Bay',
 'Nahoon Beach, East London',
 'Sharpes Beach, Ballina',
 'Sai Noi Beach',
 'Manuelita',
 'Gearys Beach',
 'Lennox Head',
 'Surfers Point, Prevelly',
 'South Point, Gracetown',
 'Madoogali',
 'Robberg Beach, Plettenberg Bay',
 'Shipwreck\x92s Beach, Keoneloa Bay, Kauai',
 'Piedade',
 'Lefthanders, Margaret River Area',
 'Cobblestones, Margaret River Area',
 'Nirvana Beach',
 'Praia de Sauaçuhy, Maceió',
 'Magenta Beach, Noumea',
 'Bimini',
 'St. Francis Bay',
 'Kukio Beach',
 "Waterman's Bay",
 'Lorne',
 'Winkipop',
 'Durban',
 'Little Congwong Beach, La Perouse ',
 'Westernport Bay',
 'Surf Beach, Kiama',
 'Mooloolaba Beach',
 'Espirito Santo',
 'Santa Fe Island',
 'Avalon Point, Manurah',
 'Cone Bay',
 'Nouville',
 'Lizard Island',
 'Martin Islet',
 'Conceicao Beach',
 "Hultin's Beach, Oahu",
 'Drakes Estero, Point Reyes, Marin County',
 'Bagan Lalang Beach',
 nan,
 ' Gars Garabulli',
 'Stillwater Cove, Monterey County',
 'Floridana Beach, Brevard County',
 'Avoca Beach',
 'Guardalavaca Beach',
 'Magnetic Island',
 'Birubi Point',
 'White Plains Beach, Oahu',
 'Le Goulet',
 'Juno Beach, Palm Beach County',
 'Ocean Reef Park, Singer Island, Palm Beach County',
 'Normanville',
 'Off Tapuna Beach, Auckand',
 'Lantana Beach, Palm Beach County',
 'Davidsons Beach, Kekaha, Kauai',
 'Kama\x91ole Beach Park, Maui ',
 'Dyer Island',
 'Hanna Park, Jacksonville, Duval County',
 'Gracetown',
 'Rockaway',
 'Fort Worth',
 'Palm Beach County',
 'Gran Canaria ',
 'Ponce Inlet, Volusia County',
 'Hawston',
 'Nofoali\x92i',
 'Esperance',
 "Sam's Creek area",
 'Iluka Beach',
 'Owarigi Island',
 'Iwata City',
 'Marathon, Monroe County',
 'South Padre Island, Cameron County',
 'New Smyrna Beach, Volusia County',
 'Cathedral Rock',
 'Bathtub Beach ',
 'Grao de Moncofa',
 'Off Tutukaka',
 'Marconi Beach, Wellfleet, Barnstable County',
 'Sea Pines Resort, Hilton Head Island, Beaufort County',
 'Marsa Ghalib',
 'Menauhant Beach, Falmouth,\nBarnstable County',
 'Between Pescadero Point & Bean Hollow Beach, San Mateo County',
 'Jacksonvlle, Duval County',
 'DeBordieu Colony, Georgetown County',
 'Rose Island',
 'English Bay',
 'Ventnor',
 'Estanys Beach, Colonia de Sant',
 'Snipes Point, Monroe County',
 'Stearns Wharf, Santa Barbara',
 'Seal Rock, Goleta Beach, Santa Barbara',
 'South Beach, Westport, Grays Harbor County',
 'Floreat Beach',
 'Santa Cruz, Santa Cruz County',
 'Haulover Beach, Miami-Dade County',
 'Sánchez Magallanes, Cárdenas',
 'Nahoon Reef, East London',
 'Moya',
 'Wrightsville Beach',
 'South Forest Beach, Hilton Head Island, Beaufort County',
 'Singer Island, Palm Beach County',
 'Burkes Beach, Hilton Head, Beaufort County',
 'Roches Noire',
 'Playa d\x92en Bossa',
 'Atuona Bay, Hiva Oa Island',
 'Point Casuarina, Bunbury',
 'Flinders, Mornington Penisula',
 'Bantham Beach',
 'Middle Sambo Reef off Boca Chica, Monroe County',
 'Athol Island',
 'Awendaw, Charleston County',
 'Off Jupiter',
 'Evans Head',
 'Khor Fakkan',
 'Weipa',
 'Los Arbolitos, Cabo Pulmo',
 'Sunset Beach, Orange County',
 'San Onofre, San Diego County ',
 'Keurbooms, Plettenberg Bay',
 'Folly Beach, Charleston County',
 'Pointe au Sal',
 'Porpoise Bay, Catlins',
 'Georgetown County',
 'Kelpies near Wylie Bay',
 'Kekaha Beach, Kauai',
 'St. Augustine',
 'Protea Banks',
 'Ormond Beach, Volusia County',
 'Melbourne Beach, Brevard County',
 'Daytona, Volusia County',
 'Moreton Bay',
 'Destin, Okaloosa County',
 'The Farm',
 'Monterey Bay',
 'Villamar, Caoayan',
 'Mauds Point',
 'Falcon Bay Beach, Mandurah',
 'Eva Rock',
 'Fernando de Noronha Marine Park',
 'Eastmoor Crescent Beach',
 '16 miles off Hilton Head',
 'Boa Viagem, Recife',
 'Vero Beach, Indian River County',
 'Boot Reef, Torres Strait',
 'Clairview',
 'Jensen Beach',
 'Balian Beach',
 'Blockhouse Beach, Brevard County',
 'Merimbula',
 'Avalon State Park Beach, North Hutchinson Island, St Lucie County',
 'Bundegi Sanctuary Zone, Ningaloo',
 'Keurbooms Lagoon, Plettenberg Bay',
 'Trigg Beach',
 'Takapoto Atoll',
 'Booti Booti National Park',
 'Queenscliff',
 'Kamaole Beach Park I, Maui',
 'Mayport Naval Station Beach, Duval County',
 'Mayport Naval Station  Duval County',
 'Broken Head Beach',
 'Hooipa Beach Park, Maui',
 'Kings Beach, Caloundra',
 'Charlie Young Beach, Kihei, Maui',
 'Guadalupe Island',
 'Indian Beach, Ecola State Park, Clatsop County',
 'Lighthouse Beach, Ballina',
 'Bunkers, Humboldt Bay, Eureka, Humboldt County',
 'Thirteenth Beach',
 'Bells Beach',
 'Bunbury',
 'Ponte Vedra, St. Johns County',
 'Makaha, Oahu',
 'Koumac',
 'Kingston Plantation, Myrtle Beach, Horry County',
 'Injidup ',
 'Refugio State Beach, Santa Barbara County',
 'Boucan Canot',
 'Nassau',
 'Maui',
 'Arenales del Sol',
 'Near Albany',
 'Florida Keys, Monroe County',
 'Irino Beach',
 'Clifton Beach',
 'Green Turtle Cay',
 '20 k off The Spit, off the Gold Coast',
 '8 miles off Mobile',
 'Surfside, Orange County',
 'North Myrtle Beach, Horry County',
 'Tiger Beach',
 'Las Teresitas, Tenerife',
 'Capitola, Santa Cruz County',
 'Off Gloucester, Essec County',
 'Off Palos Verdes peninsula, Los Angeles County',
 'Palm Cove ',
 "Sullivan's Island",
 'Atlantic Beach, Emerald Isle, Carteret County',
 'Ryspunt',
 'Pelican Beach Park, Satellite Beach, Brevard County',
 'Kalapaki Beach, Kauai',
 'Coral Bay',
 'Pirates Beach, Galveston',
 'Flagler Beach, Flagler County',
 'Mindarie',
 'Ain Sokhna',
 'Kingscliff',
 ' Côte-Blanche, Nouméa ',
 'Falcon Beach, Mandurah',
 'Corona Del Mar, Newport, Orange County',
 'Neptune, Duval County',
 'St. Petersburg, Pinellas County',
 'Hugenot Beach , Jacksonville, Duval County',
 'Boca Raton, Palm Beach County',
 'Wailea Beach, Maui',
 'Cormandel',
 'Balian',
 'First Sun Beach, Byron Bay',
 'Makemo Atoll',
 'Off Singer Island, Palm Beach County',
 'Poe Beach',
 'Corners Beach, Jupiter, Palm Beach County',
 'Olowalu, Maui',
 'Bombo Beach',
 'Fort Myers Beach, Lee County',
 'North Cronulla Beach',
 'Bolsa Chica State Park, Orange County',
 'Vero Beach, St. Lucie County',
 'Wrights Bay',
 'Escalerio Beach Balneário Camboriú',
 'Ricaudy Reef, Noumea',
 'Yate',
 'Bavaro Beach, Punta Cana',
 'Stingray City Bar',
 'Nettley Bay',
 'Stradbroke Island',
 'Hams Beach',
 'Estaleirinho beach',
 'Hanalei Bay, Kauai',
 'Hanalei Bay, Kauai, ',
 'Off Surfside',
 '35 miles off Fujairah',
 'Happy Valley Beach, Caloundra',
 'Heron Island',
 'Miall Island',
 'Westbrook Beach',
 'Arinaga Beach, Aguimes, Gran Canaria',
 "La'aloa Beach Park",
 'Bondi Beach',
 'Fernano de Noronha',
 'Boat capsized',
 'Lake Macquarie',
 'Off Andros Island',
 'Mpande',
 'Punta Vicente Roca, Isabella Island',
 'Playalinda Beach, Brevard County',
 'Palm Beach, Palm Beach County',
 'East Ballina',
 'Paradise Beach, Melbourne, Brevard County',
 'Kehena Beach, Hawaii',
 'Maxixe',
 'Bald Island',
 'Malaka, Oahu',
 'Stil Bay',
 'Deerfield Beach, Broward County',
 'Nahaduga, Inhambane Bay',
 'Waikiki, ',
 'Lanikai Beach, Kailua, Oahu',
 'Off Leffingwell Landing, San Luis Obispo County',
 'Shipyard Beach Club, Hilton Head Island, Beaufort County',
 'Leftovers, Oahu',
 'Maxixe, Inhambane Bay',
 'Pyramids Beach',
 'Pepper Park Beach, St. Lucie County',
 'Galveston',
 'Vilano Beach, St.  Johns County',
 'Russel Island, Frankland Group',
 'Horseshoe Rock, Santa Barbara County',
 'Upolu Point, North Kohala, Big Island',
 'Fernandina Beach, Amelia Island, Nassau County',
 'Gaviota State Beach, Santa Barbara County',
 'Big Talbot Island, Duval County',
 'Jacksonville Beach, Duval County',
 'North Shelly Beach',
 'El Pescador Beach, Los Angeles County',
 'Deer Creek Beach, Ventura County',
 'Hallidays Point',
 'Myrtle Beach, Horry County',
 'Karon Beach',
 'Morro Strand State Beach, San Luis Obispo County',
 'Morro Bay, San Luis Obispo County',
 'Lighthouse Beach',
 'Murrells Inlet, Georgetown County',
 'Santa Barbara County',
 'Poniente Beach, Benidorm',
 'Cortes Bank',
 'Playa Grande',
 'Tyrendarra Beach',
 'Edisto Beach, Colleton County',
 'Lachan Island, Mercury Passage',
 'La Jolla, San Diego County',
 'Tyrendarra Beach near Portland',
 'St. Leu',
 "Jeffrey's Bay",
 'Huntington Beach, Orange County',
 'Port Lucaya, Freeport',
 'Off Surf City, Pender County',
 'Ocracoke, Lifeguard Beach, National Park Service, Hyde County',
 'Flat Rock, Yamba',
 'Isle of Palms County Park, Isle of Palms, Charleston County',
 'Rodanthe, Dare County',
 'Buffels Bay near Knysna',
 'Lookout Beach, Plettenberg Bay',
 'South Beach, Hunting Island State Park, Beaufort County',
 'Rottnest Island',
 'Avon, Hatteras Island, Outer Banks, Dare County',
 'Surf City',
 'Denmark',
 'St. Helena Island, Beaufort County',
 'Off Cabo Rojo',
 'Daytona Beach Shores',
 'Oak Island, Brunswick County',
 'Off San Diego',
 'Ocean Isle, Brunswick County',
 'Lori Wilson Park, Cocoa Beach, Brevard  County',
 'Fort Lauderdale',
 'Folette',
 'Avatoru Pass',
 'Kouare ',
 'Saltwater Beach',
 "Port St. John's",
 'Kanahena Cove ',
 "Resident's Beach, Marco Island",
 'Fishery Bay',
 'Belongil Beach, Byron Bay',
 'Cap Homard',
 'McKenzies Beach',
 '3 miles off Jupiter, Palm Beach County',
 'Praia del Chifre, Olinda',
 'Yellow Sands Point',
 'Marsa Alam',
 'Hapuna Beach',
 'Anau',
 'Julian Rocks, Byron Bay',
 'Mazlatan',
 'Tupapati, Hikueru Atoll',
 'Ravine Mula',
 'Shelly Beach',
 'Seven Mile Beach, Byron Bay',
 'Mereweather Beach',
 "Nerang River, Surfer's  Paradise",
 'Lahaina',
 'Flat Rock',
 'Nahoon Beach',
 'Off Panama City',
 'Wategos Beach, Byon Bay',
 'Off Blacksmith Beach',
 'Mollymook Beach, Bannister Head',
 'Tahiti Beach, Elbow Cay',
 'Chintsa East Beach',
 'Windsor Beach, Indian River County',
 'Bherwerre Beach',
 'Three Stripes near Cheynes Beach',
 '33 nautical miles off Othonoi Island',
 'Montaña de Oro State Park, San Luis Obispo County ',
 'Paradise Beach',
 'Rudder Reef',
 'Off Motril',
 'Pyramids Beach, Port Bouvard',
 'Freo',
 'Franklin Point, San Mateo County',
 'Indian Harbor Beach, Brevard County',
 'Airplane Beach, Lahina, West Maui',
 'Moonee Beach',
 'Fort Pierce Inlet State Park, St. Lucie County',
 'North Kohala, Hawaii County',
 'Wallabi Point',
 'Kihei, Maui',
 'Kahului, Maui',
 'Leadbetter Beach, Santa Barbara County',
 'Maalaea, South Maui',
 'Castle Rock, north of Dunsborough',
 'Cherie Down Park, Brevard County',
 'Walls Beach, Vandenberg AFB, Santa Barbara County',
 'Kelpids Beach, Wylie Bay, Esperance',
 'Tiahura Lagoon',
 'Manresa State Beach, Santa Cruz County',
 'Clarkes Beach, Byron Bay',
 'Katrina Cut, Dauphin Island, Mobile County',
 'Manomet Point, Plymouth, Plymouth County',
 'Fletcher Beach, Hutchinson Island, Martin County',
 'Salou',
 'Atlantic Beach, Duval County',
 'Assateague National Seashore',
 'Benidorm',
 'Figure Eight Island,  New Hanover County',
 'Surfside Beach, Horry  County',
 'Apalachicola Bay ',
 'Off Masonboro Island, New Hanover County',
 'Gnaraloo',
 '3 to 4 miles west of Indian Pass, Gulf County',
 'Hallandale Beach, Broward County',
 'Lake Ponchartain off Southshore Harbor, New Orleans',
 'South of Cocoa Beach, Brevard County',
 'Table Beach, Brevard County',
 'Muizenberg',
 'Sunset Beach, Brunswick County',
 'Indialantic, Brevard County',
 'Teresita, Santa Cruz, Tenerife',
 'Paia Bay, Maui',
 'Okaloosa Island',
 'Masonboro Island, New Hanover County',
 'Manhattan Beach, Los Angeles County',
 'Oceano Dunes State Beach, San Luis Obispo County',
 'Isle of Palms, Charleston County',
 '20 miles from shore',
 'Middleton Point, Fleurieu Peninsula',
 'Horizontal Falls',
 '500 km off the coast of Pernambuco',
 'Cape Henlopen State Park, Sussex County',
 'Parsons Beach,  Fleurieu Peninsula',
 'Aichi',
 'West Beach, Galveston',
 'Seven Mile Beach, Gerroa',
 'Nerang River near Chevron Island',
 'Wallis Island',
 'The Australian Shark and Ray Centre',
 'Juan Ponce de León Landing, Melbourne Beach, Brevard County',
 'Elliston, Eyre Peninsula',
 'Tybee Island, Chatham County',
 'Bethel Shoals, Indian River County',
 'Coligny Beach, Hilton Head, Beaufort County',
 'Simonstown',
 'South Passage, south of Coral Bay',
 'Port Alfred',
 'Tathra',
 'Off Dawesville Cut',
 'Second Beach, Port St Johns',
 'Delray Beach',
 'Macarthur State Park',
 'Winkipop Beach',
 'Santa Lucea Beach, South Hutchinson Island, St. Lucie County',
 'Huahine',
 'Goldsmith Beach, Yorke Peninsula',
 'Porpoise Bay',
 'Umina Beach',
 'Garden Bay near Cosy Nook',
 'Off Miyako Island',
 'Stewart Island',
 'Lindéralique, Hienghène',
 'Die Platt',
 'Ninole Bay, Hawaii County',
 'Shelly Beach, near Port Macquarie',
 'Between  Makena & Molokini, Maui',
 'Riecks Point,  Campbell\x92s Beach, ',
 'Keawekapu Beach, Kihei, Maui',
 'Gleneden Beach, Lincoln County',
 'Trigg Beach, Perth',
 'Off Cape Eleuthera',
 'Bay Head, Ocean County',
 'Kanaha Beach, Maui',
 'Turquoise Bay',
 'Little Island, near Hillarys',
 'South Narrabeen Beach',
 'Waiehu, Maui',
 "Pila'a Beach, Kaua'i",
 'Miami Beach',
 "Albatros Point, near Jeffrey's Bay",
 'Off Poison Creek, Cape Arid',
 'Ashdod',
 'Panama City, Bay County',
 'Carlin Park, Jupiter, Palm Beach County',
 'Casino Beach, Pensacola, Escambia County',
 'New Smyrna Beach,  Volusia County',
 'Key West Aquarium',
 'St Augustine Beach, St Johns County',
 'Freetown Beach',
 'Butterfly Beach, Montecito, Santa Barbara County',
 'Catalina Channel',
 'Winterhaven Park,           Ponce Inlet, Volusia County',
 'Smiths',
 'Pohoiki ',
 'Pillar Point, Half-Moon Bay, San Mateo County',
 'Makenat, Maui',
 "Ka'a Point, Maui",
 'Folly Beach',
 'Sanibel Island, Lee County',
 'Ulua Beach, Maui',
 'Scotland Cay',
 'Compass Cay',
 'Grand Cay',
 'Boa Viagem Beach, Recife',
 'Gulf Shores, Baldwin County',
 'Butler Beach, St Augustine,       St. Johns County',
 'Le cimetière marin',
 'Holden Beach. Brunswick County',
 'Sant Marti d\x92Empuries Beach, L\x92Escala',
 'Port Royal',
 'Pacific State , San Mateo County',
 'Jacksonville, Duval County',
 'Kiawah Island, Charleston County',
 'Kona Coast State Park',
 'Surfside Beach, Brazoria County',
 'Queensberry Bay',
 'Off Snipe Point, Florida Keys, Monroe County',
 'Target Beach',
 'Halewia, Oahu',
 'Coral Cove Beach',
 'Gaza',
 'Playa Brava, Turtle Bay',
 'Tourmaline Surf Park, San Diego County',
 'Brisant Beach',
 'Emerald Beach',
 'Seagull Beach, Cancun',
 'Crowdy Head',
 'Near Boynton Beach, Palm Beach County',
 'False Bay',
 'North Pass, Fakarava',
 'Jensen Beach, Martin County ',
 'Perth',
 'Ka\x92anapali Shores',
 'Terrigal Beach',
 'Ile Platte',
 'Savannah Sound',
 'De Mond',
 'Hawston Beach',
 'Pillikin Red Light area ',
 'African Reef off Geraldton',
 'Off Likas Island',
 'Muriwai',
 "Ka'anapali, Honokowai, Maui",
 '"Stuart Rocks", Martin County',
 'Tapu, a dive site on the outer reefs of Bora Bora',
 'Pedro Cays',
 'Cape Nelson',
 'Noosa',
 'Bullcock Beach',
 'Kiholo Bay',
 'Great Mercury Island',
 'Near Legendre Island',
 'Between Dee Why and Long Reef',
 "Kylie's Beach, Diamond Head",
 'Kauai',
 'Green Island',
 'Sunday Cove, Fiordland',
 'Mooloolaba',
 'Nuevo Altata',
 'Makena Landing, Maui',
 "Davidson's Surf Break, Kekaha, Kaua'i",
 'Humboldt Bay, Eureka, Humboldt County',
 'Surf Beach, Lompoc, Santa Barbara County',
 'Seaport, Brevard County',
 'Hobe Sound',
 'Oboro',
 'Davenport Landing, Santa Cruz County',
 'Mullaloo Beach, Perth',
 'Spanish House Beach, Brevard County',
 ' Cocoa Beach, Brevard  County',
 'Eueiki Island',
 'South Beach, Miami-Dade County',
 'Neptune Beach, Duval County',
 "St. Augustine Beach, St. John's County",
 'Spreckelsville, Maui',
 'Off the Isle of Islay',
 'Red Bluff near Quobba Station',
 'Coral Cove, Cabo de Santo Agostinho',
 'Ocean Reef',
 'Key Largo',
 'Kaukura Atoll',
 'Topanga Beach, Los Angeles County',
 'Streaky Bay',
 'Maha\x91ulepu Beach, Kauai',
 'Ballston Beach, Truro, Cape Cod',
 'Off Radix Village, Mayoro County',
 'Tofino, Vancouver',
 'Off Wedge Island',
 'North Topsail Beach, Onslow County',
 "Ship's Graveyard off Point Lonsdale",
 'Pleasure Point, Santa Cruz County',
 'Sandstrand, Jongensfontein',
 'Buccari Bay',
 'Kahana Beach, Maui',
 'South Cape Bay',
 'Bathtub Reef  Beach, Stuart, Martin County',
 'Summerland Key, Monroe County',
 'Port Campbell',
 'Muravera',
 'Redhead Beach, Newcastle',
 'Bethune Beach, Volusia County',
 ' Boca de la Leña, La Unión',
 'Iroquiois Point, Oahu',
 'Matacucu Reef ',
 'Leffingwell Landing, Cambria,  San Luis Obispo County',
 'Off Catalina Island',
 'Caves near Kogel Bay',
 'Dolphin Bay, Innes National Park',
 "Leftovers near Chun's Reef, Oahu",
 'Stratham Beach',
 'Kalbarri',
 "Nobby's Beach",
 'Opunake, Taranake',
 'Shipwreck Cove, Melbourne Aquarium',
 'Port de la\xa0Marine',
 'Off Duba',
 'Antofagasta',
 'Palm Beach Inlet, Palm Beach County',
 'Broughton Island',
 'Strandfontein',
 'Wurtulla',
 'Lanai',
 'Cat Island',
 'Taimali',
 'Redhead Beach',
 'Second Beach, Port St. Johns',
 'Lincoln City, Lincoln County',
 'North Avoca Beach',
 'Duranbah',
 'Jupiter, Palm Beach County',
 'Fort James Beach',
 'Barandúa Beach',
 'New Smyrna Beach',
 'Makahuena Point, Kauai',
 'Noordhoek, Port Elizabeth',
 'Angourie',
 'Between Sodwana & Cape Vidal',
 'Maroubra',
 'Seaside Cove',
 'Bushy Ilet',
 'Broken Head',
 'Tabanan',
 'Peregian',
 'Pigeon Point',
 'Pigeon Island',
 'Punta Del Chifre Beach, Olinda',
 'Sainte-Rose',
 'Marina State Beach, Monterey County',
 'Spey Bay',
 'uShaka Aquarium, Durban',
 'Newport, Lincoln County',
 'Elwood Beach',
 'Cape Canaveral',
 'Seaside',
 'Cottesloe Beach',
 'Cap La Houssaye',
 'Santa Maria Island, Manatee County',
 'Hatillo Beach',
 'Playa Jackson ',
 'Clovely Beach',
 'Boucan-Canot',
 'Mama Ngina Beach, Mombasa ',
 'Samoa Beach, Humboldt County',
 'Hula, near Port Moresby',
 'Nimitz State Beach, Oahu',
 ' Bunker Bay',
 'Crescent Beach St. Johns County',
 'Fantome Island',
 'Grass Island, Aransas County',
 'Slavyanka',
 'Buxton Beach, Dare County',
 'Lookout Beach, near the Keurbooms river mouth in Plettenberg Bay',
 'Zheltukhin Island',
 'Kure Beach, New Hanover County',
 'Wrightsville Beach, New Hanover County',
 'Vityaz',
 'Teahupoo, Tahiti',
 ' Vieques',
 'Anse Lazio ',
 'Beaufort Inlet',
 'Praia do Pina',
 'Egg Harbor, Atlantic County',
 'Cintza Beach, East London',
 'Ocracoke Island, Hyde County',
 'Brisants. ',
 'Off Lucaya',
 'Sunday Beach, Matagorda Island, Calhoun  County',
 'Mustang Island, Nueces County',
 'Roches Noires',
 'Libertad, San Onofre',
 'Mudjin Harbor',
 'Aliwal Shoal',
 'San Onofre State Beach, San Diego County',
 'Perdido Key, Escambia County',
 'French Cay',
 'St. Ives',
 'Off Jupiter Inlet, Palm Beach County',
 'Albuquerque Cay',
 'Palau Payar',
 "Follett's Island, Brazoria County",
 'Robberg Beach',
 'Lyman Beach, Kailua-Kona',
 'Levan Point',
 'Ponte Vedra Beach, St Johns County',
 'Kendec',
 'Miami',
 'Khor Fakkan ',
 'Palm Beach',
 'Riviera Beach, Palm Beach County',
 'Red Bluffs',
 'Snapper Point',
 'Malake Island, Ra Province',
 'Matagorda Beach',
 'Gaviotas Beach, Cancun',
 'Nukudamu ',
 'Jimmys Beach, Port Stephens',
 'Sharm-el-Sheikh',
 'Tallow Beach, Byron Bay',
 'Between ',
 'Bay of Bweedro, Ouvéa',
 'Trois-Roches',
 'Off Perforated Island near Coffin Bay',
 'Sunshine Beach',
 'Exmouth',
 'Manzanillo, Revillagigedo Islands',
 'Sundays River Mouth, Port Elizabeth',
 'Cancun',
 'Revillagigedo Islands',
 'Cudgen Creek ',
 "Second Beach, Port St. John's",
 'Xcalak ',
 'Busselton',
 ' Kahului, Maui',
 'Sigatoka',
 'Tavares Bay, Maui',
 'Middle Garden, Sharm el-Shiekh',
 'Ras Nasrani, Sharm el-Sheikh',
 'Coral Bay, Sharm el-Sheikh',
 'Native Dog Beach',
 'Boca Chica',
 'Between Carnac and Garden Islands',
 'Off Garden Island',
 'Cheynes Beach',
 'Florence',

In [ ]:
location = sharks[["country", "area", "location"]]

In [ ]:
multi_USA = location[(sharks.country == "USA")]

In [ ]:
multi_USA

OPERA CON COLUMNAS (SELECCIONA, ELIMINA, Valores únicos ...)

Filtramos los datos por el valor de las columnas

In [ ]:
attacks.area.unique()

BORRAR FILAS Y COLUMNAS. Reset_index y set_index

APPLY!!

Df .loc e .iloc
Seleccionar filas y columnas en Pandas mediante posición con iloc
Seleccionar filas y columnas en Pandas en base a etiquetas con loc

Ordenamos un dataframe
Buscamos valores nulos
Borramos los valores nulos
rellenar los datos que faltan
 Borramos los duplicados

 Agregación de datos
 GroupBy

EXPLORE the DATA and write down what you have found
you can use: df.describe(), df["column"], etc.

DRAW at least 2 GRAPHS that are insightful.

Use at least 5 data cleaning techniques inside a file named clean.ipynb
null values, columns drop, duplicated data, string manipulation, apply fn, categorize, regex, etc.

Show data that validates the conclusions based on your hypoteses in a file named analysis.ipynb

Build a compelling story-telling around your findings. Think of your stakeholders and convince them with your conclusions! (Some slides with few text and pretty plots are normally useful)